.ui-bar-btn-toggle {
  overflow: hidden;

  .q-btn {
    border-radius: 4px !important;
  }

  .q-btn:not(:last-of-type) {
    margin-right: 17px;
  }

  .q-btn:not(:last-of-type)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $blue-grey-2;
    pointer-events: none;
  }
}
