.ui-btn {
  &_size_lg {
    font-size: 16px !important;
    height: 56px !important;
    line-height: 56px !important;

    .q-btn__wrapper {
      padding: 0 16px;
    }
  }

  &_size_sm {
    font-size: 14px;

    .q-btn__wrapper {
      min-height: 28px !important;
      padding: 0 16px;
    }
  }
}
