.ui-csv-select-file {
  padding: 64px 48px 64px 260px;
  background-image: url("data:image/svg+xml,%3Csvg width='161' height='262' viewBox='0 0 161 262' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M107 106C113 113 120 118.5 128.5 116.5C133.898 115.23 138.5 110 134.5 106C130 101.5 119.5 90 117 87.5C114.5 85 111.5 85 108.5 85C105.5 85 76.5 84 73.5 84C70.5 84 67.5 86 65 89C63 91.4 49.8333 104.667 43.5 111M43.5 111C39.8333 112.333 31.8 115.3 29 116.5C25.5 118 24 120 24 125.5C24 129.9 24 163 24 179C24 182.667 23.1 192.7 19.5 203.5C15.9 214.3 6.33333 241.333 2 253.5M43.5 111L38.5 117L38 129M90 107L81.5 109.5L71.5 122C71.6463 123.755 71.784 126.204 71.8455 129M70.3861 149C70.2663 149.517 70.1377 150.018 70 150.5L70.3861 149ZM70.3861 149C66.7721 147 63.5 141.5 61.5 138.5M70.3861 149C71.7431 143.144 71.9823 135.213 71.8455 129M108 120C112.167 122.5 121.1 127.9 123.5 129.5C126.5 131.5 127.5 132.5 127.5 138.5C127.5 143.3 128.167 152.833 128.5 157C126.604 157.632 121.924 158.324 117.695 156.351M108 139.5L111.5 142C111.5 145.667 112.6 153.6 117 156C117.23 156.125 117.461 156.242 117.695 156.351M102 158C100.781 160.845 99.5617 166.992 103.98 170M117.695 156.351L108 171.5C106.315 171.219 104.998 170.693 103.98 170M103.98 170L99 178.5C97.8333 178.5 95.2 178.1 94 176.5C92.1667 179.5 87.9 186.3 85.5 189.5C82.5 193.5 79 198 77.5 203.5C76.3 207.9 68.6667 243 65 260M71.8455 129C74.0637 130.167 79.4 132.5 83 132.5' stroke='%23031830' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M63 12C63 6.47715 67.4772 2 73 2H123V23.5C123 27.9183 126.582 31.5 131 31.5H153V70V104.5V112C153 117.523 148.523 122 143 122H73C67.4772 122 63 117.523 63 112V104.5V70V12Z' fill='white'/%3E%3Cpath d='M123 2H73C67.4772 2 63 6.47715 63 12V70V104.5V112C63 117.523 67.4772 122 73 122H143C148.523 122 153 117.523 153 112V104.5V70V31.5M123 2V23.5C123 27.9183 126.582 31.5 131 31.5H153M123 2L153 31.5' stroke='%23FF7033' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='57' y='70' width='102' height='34' fill='white' stroke='%23FF7033' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M92.5 82.5C92.5 79.5 90.5 78 88 78C85.5 78 83 79.5 83 82.5C83 85.5 83 88.5 83 91.5C83 94.5 85.5 96.5 88 96.5C90.5 96.5 92.5 94.5 92.5 91.5' stroke='%23FF7033' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M111 78.9998C108 76.4998 102 76.9998 101.5 80.9998C100.861 86.1139 107 85.9998 110 88.9998C113 91.9998 110 95.9998 107.5 96.4998C105 96.9998 102.5 96.4998 100.5 94.4998M119 77.9998L125.5 96.4998L132 77.9998' stroke='%23FF7033' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M88 121C87.5 125.5 84.5 131.7 82.5 136.5L101.5 158.5C105.666 148.606 108 140.5 108 136.5V124.5C108 119 108 113 106.5 107C104.625 99.5003 96.9606 97.1282 92.5 103.5C89 108.5 88.7223 114.5 88 121Z' fill='%23EDEFF1'/%3E%3Cpath d='M66 151.5C70 152 76.5 151 82.5 136.5C84.5 131.7 87.5 125.5 88 121C88.7223 114.5 89 108.5 92.5 103.5C96.9606 97.1282 104.625 99.5003 106.5 107C108 113 108 119 108 124.5C108 129 108 132.5 108 136.5C108 140.5 105.666 148.606 101.5 158.5C97.5 168 96.5 172 92.5 179' stroke='%23031830' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center left 48px;
}

.ui-csv-select-file__columns-wrap {
  margin-top: 48px;
}

.ui-csv-select-file__list ul {
  list-style-type: decimal;
  padding-left: 1em;
}

.ui-csv-import__total {
  display: flex;
}

.ui-csv-import__total::after {
  content: '•';
  color: $dark;
}
