@import "UiDeliveryCalculator/index";

.ui-delivery-calculator {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ui-delivery-calculator__result-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

