.ui-drawer__mini {
  z-index: 2;
}

.ui-drawer__mimi-item {
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  display: flex;
  align-items: center;
  width: 100%;
}

.ui-drawer__mini-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ui-drawer__mini-wrap {
  width: 60px;
  cursor: pointer;
  opacity: 1;
  transition: background-color .2s;
  background: $background;
}

.ui-drawer__mini-wrap:hover {
  background-color: darken($background, 5%);
}
