.ui-list {
  .q-item {
    .ui-btn-menu {
      margin: -4px;
    }
  }

  .ui-list-header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.ui-list__dense {
  .q-item {
    min-height: 40px;
  }

  .ui-list-header {
    .q-item {
      min-height: 32px;
      font-size: 11px;

      .text-overline {
        font-size: 11px;
      }
    }
  }
}

.ui-zebra_size_sm.ui-list__zebra-offset::before {
  top: 34px;
}

.ui-zebra_size_md.ui-list__zebra-offset::before {
  top: 48px;
}
