.ui-list-card {
  position: relative;

  &_disabled {
    opacity: .7;
  }

  &__menu {
    position: absolute;
    right: 24px;
    top: 24px;

    &_hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
