.ui-log {
  display: flex;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #fff;
}

.ui-log__before {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ui-log__after {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
