.ui-menu {
  min-width: 240px;
  font-size: 14px;

  .q-list:not(:last-of-type) {
    border-bottom: 1px solid $background !important;
  }

  .q-list--dense > .q-item, .q-item--dense {
    min-height: 38px;
  }

  .text-overline {
    font-size: 11px;
  }
}
