.ui-notification-list {
  .ui-notification:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.ui-notification {
  display: flex;
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(3, 24, 48, 0.1);
  background-color: #fff;

  ul {
    margin: 0;
    padding-left: 1rem;
    list-style: disc;
  }

  .s25-event__message {
    background: $background;
    padding: 4px 8px;
    margin-top: 16px;
    border-radius: 4px;
    word-break: break-word;
  }
}

.ui-notification__header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  b {
    font-weight: bold;
  }
}

.ui-notification__subheader {
  font-size: 12px;
}

.ui-notification-types-config {
  background-color: #fff;
  border-radius: 16px;

  thead {
    font-size: 11px;
    text-transform: uppercase;
  }

  tbody {
    font-size: 14px;
  }
}

.ui-notification__clear-all {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
}
