.ui-page-header {
  position: sticky;
  top: 0;
  left: 0;
  margin-left: 0 !important;
  z-index: 10;
  background-color: #fff;
  min-height: 84px;
  display: flex;
  flex-wrap: nowrap;
  padding: map_get($space-sm, y) map_get($space-md, x) map_get($space-sm, y) map_get($space-lg, x);
}

.ui-page-header__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
