.ui-splitter {

}

.ui-splitter_full {
  .ui-splitter__separator {
    display: none;
  }
}

.ui-splitter__separator {
  width: 6px !important;
  background-color: $dark !important;

  span {
    height: 40px;
    width: 2px;
    border-radius: 2px;
    background-color: $background;
  }
}
