.ui-page {
  display: flex;
  background-color: #fff;
}

.ui-page_two-col {
  .ui-page__before {
    width: 350px;
  }
}

.ui-page__before {
  overflow: auto;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  flex-grow: 1;
  max-width: 100%;
}

.ui-page__after {
  overflow: auto;
  display: grid;
  flex-grow: 1;
}

.ui-page__separator {
  flex-shrink: 0;
}
