.ui-popup-notifications {
  position: fixed;
  padding: 16px 8px 8px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  z-index: 9999;
  overflow: auto;
  max-width: calc(100vw - 16px);
}

.ui-popup-notification {
  margin-right: 8px;
  width: 280px;
  box-shadow: -4px 0px 16px rgba(3, 24, 48, 0.15);
  border-radius: 16px;
  background: white;
}
