.ui-search-input {
  .q-field__marginal,
  .q-placeholder::placeholder {
    color: $black;
    opacity: 1;
  }

  .q-field__control::before {
    border-color: $black;
  }
}

.ui-search-input_dark {
  .q-field__marginal,
  .q-placeholder::placeholder {
    color: $blue-grey !important;
    opacity: 1;
  }

  .q-field__control::before {
    border-color: $blue-grey;
  }
}
