.ui-tabs {
  font-size: 14px;
  font-weight: bold;
  padding: 0 16px 0 10px;
  border-bottom: 1px solid $blue-grey-2;
  background-color: #fff;
}

.ui-tab {
  min-height: 56px;
}

.ui-tab:hover {
  background-color: $background;
}
