.ui-toggle-group {
  border-radius: 4px;
  background-color: $background;
  display: inline-block;
}

.ui-toggle-group__header {
  padding: 24px 24px 0 24px;
}

.ui-toggle-group__options {
  padding: 8px 24px 0 12px;
}

.ui-toggle-group__footer {
  padding: 0 24px 24px;
}

.ui-toggle-group__footer:not(:empty) {
  margin-top: 16px;
}
