.ui-projects-menu.q-btn {
  border-radius: 0;
  height: 56px !important;
  font-size: 1.1em;
  width: 24px !important;
  min-width: 24px !important;

  .q-icon {
    font-size: 24px;
  }
}

.ui-projects-menu.q-btn--round .q-btn__wrapper {
  min-width: auto;
}

.ui-logo-img {
  height: 32px;
  margin: 0 0 0 16px;
  flex-shrink: 0;
}

.ui-logo-img img {
  height: 100%;
  width: 100%;
}
