.ui-zebra {
  position: relative;
  flex-grow: 1;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &_size {
    &_sm::before {
      background: repeating-linear-gradient(
          $background-light,
          $background-light 40px,
          #fff 40px,
          #fff 80px
      );
    }

    &_md::before {
      background: repeating-linear-gradient(
          $background-light,
          $background-light 48px,
          #fff 48px,
          #fff 96px
      );
    }
  }
}
