<template>
  <ui-input-material
    v-on="$listeners"
    v-bind="$attrs"
    label="Текст сообщения..."
    type="textarea"
    autogrow
    name="text"
    autofocus
    key="feedback"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiInputMaterial from '@/lib-components/form/UiInputMaterial.vue'

@Component({
  components: { UiInputMaterial },
})
export default class SmsInput extends Vue {}
</script>
