<template>
  <ui-input-material
    v-on="$listeners"
    v-bind="$attrs"
    label="SMS сообщение..."
    type="textarea"
    autogrow
    autofocus
    name="text"
    key="sms"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiInputMaterial from '@/lib-components/form/UiInputMaterial.vue'

@Component({
  components: { UiInputMaterial },
  inheritAttrs: false,
})
export default class SmsInput extends Vue {}
</script>
