<template>
  <div>
    <q-btn :to="indexRoute" label="Показать виджет" />
    <q-drawer
      :value="true"
      :width="700"
      side="right"
      content-class="bg-background q-pl-sm"
    >
      <router-view user-id="4c10844c-b6eb-46c5-b21c-ee88dfaec2b3" />
      <ui-popup-notifications user-id="4c10844c-b6eb-46c5-b21c-ee88dfaec2b3" />
    </q-drawer>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { UiBtn } from '@/lib-components'
import { RouteNames } from '@/widgets/notifications/router/routeNames'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiPopupNotifications from '@/widgets/notifications/components/popup-notifications/UiPopupNotifications.vue'

@Component({ components: { UiPopupNotifications, UiBtn } })
export default class NotificationsExample extends ExampleWrap {
  isConnected = false

  get indexRoute() {
    return { name: RouteNames.index }
  }
}
</script>
