<template>
  <div v-on="$listeners" v-bind="$attrs" class="ui-dataset">
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({ inheritAttrs: false })
export default class UiDatalist extends Vue {}
</script>
