<template>
  <q-item
    v-on="$listeners"
    v-bind="$attrs"
    @mouseenter="hovered = true"
    @mouseleave="hovered = false"
    :clickable="clickable"
    active-class="text-white bg-secondary"
    :active="active"
  >
    <slot name="before" v-bind="{ active, hovered }" />
    <q-item-section>
      <q-item-label class="ellipsis">
        <slot />
      </q-item-label>
    </q-item-section>
    <q-item-section v-if="$scopedSlots.menu" side>
      <ui-btn-menu
        v-show="menuShown || hovered"
        @click.stop.prevent
        size="sm"
        color="transparent"
        :text-color="iconColor"
      >
        <ui-menu
          v-model="menuShown"
          :offset="[10, 10]"
          self="top left"
          anchor="top right"
        >
          <slot name="menu" v-bind="{ close }" />
        </ui-menu>
      </ui-btn-menu>
    </q-item-section>
    <slot name="after" v-bind="{ active, hovered }" />
    <q-item-section v-if="sortable" side>
      <q-icon
        :color="iconColor"
        class="sortable-handle cursor-pointer"
        name="la la-braille"
        size="xs"
      />
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from 'vue-property-decorator'
import { QItem, QItemLabel, QItemSection, QIcon } from 'quasar'
import UiBtnMenu from './buttons/UiBtnMenu.vue'
import UiMenu from './menu/UiMenu.vue'

@Component({
  inheritAttrs: false,
  components: { UiMenu, UiBtnMenu, QIcon, QItem, QItemSection, QItemLabel },
})
export default class UiListItem extends Vue {
  @Inject('clickable') clickable!: boolean
  @Prop(Boolean) sortable?: boolean
  @Prop({ type: Boolean, default: false }) active!: boolean

  hovered = false
  menuShown = false

  get iconColor() {
    return this.active ? 'white' : 'black'
  }

  close() {
    this.menuShown = false
  }
}
</script>
