<template>
  <q-inner-loading :showing="showing" class="ui-page-loading">
    <q-spinner-dots style="font-size: 50px !important;" color="primary" />
  </q-inner-loading>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QInnerLoading, QSpinnerDots } from 'quasar'

@Component({ inheritAttrs: false, components: { QInnerLoading, QSpinnerDots } })
export default class UiPageLoading extends Vue {
  @Prop(Boolean) showing?: boolean
}
</script>
