<template>
  <div
    v-bind="$attrs"
    class="ui-zebra"
    :class="{
      'ui-zebra_size_sm': this.dense,
      'ui-zebra_size_md': !this.dense,
    }"
  >
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({ inheritAttrs: false })
export default class UiZebra extends Vue {
  @Prop(Boolean) dense?: boolean
  @Prop(Number) offsetTop?: string
}
</script>
