<template>
  <div class="q-gutter-y-sm">
    <ui-btn label="Показать">
      <ui-menu v-model="isShow">
        <ui-menu-group title="Group title">
          <ui-menu-item icon="la la-mars-double">
            Item with icon
          </ui-menu-item>
          <ui-menu-item icon="la la-venus-double" icon-color="purple">
            Item with purple icon
          </ui-menu-item>
          <ui-menu-item icon="la la-transgender" icon-color="green">
            Item with green icon
          </ui-menu-item>
          <ui-menu-item active icon="la la-venus-mars">
            Active item with icon
          </ui-menu-item>
          <ui-menu-item>
            Item with #after slot
            <template #after>
              <q-item-section side>
                <q-icon name="la la-check" />
              </q-item-section>
            </template>
          </ui-menu-item>
          <ui-menu-item>
            Tooltip
            <template slot="tooltip">Tooltip</template>
          </ui-menu-item>
        </ui-menu-group>
        <ui-menu-group>
          <ui-menu-item>Item without group 1</ui-menu-item>
          <ui-menu-item>Item without group 2</ui-menu-item>
          <ui-menu-item>Item without group 3</ui-menu-item>
        </ui-menu-group>
        <ui-menu-group title="Group title 2">
          <ui-menu-item>Menu item 4</ui-menu-item>
          <ui-menu-item>Menu item 5</ui-menu-item>
          <ui-menu-item>Menu item 6</ui-menu-item>
        </ui-menu-group>
      </ui-menu>
    </ui-btn>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtn, UiMenu, UiMenuGroup, UiMenuItem } from '@/lib-components'

@Component({
  components: { UiBtn, UiMenuItem, UiMenuGroup, UiMenu },
})
export default class MenuExample extends ExampleWrap {
  isShow = false
}
</script>
