<template>
  <div>
    <div class="q-pa-lg">
      <input
        type="range"
        v-model="fileSizeLog"
        :min="min"
        :max="max"
        :step="step"
        class="block"
      />
    </div>

    <ui-csv-import-process
      :progress="progress"
      :processed-count="50"
      :overall-count="100"
      file-name="data.csv"
      :file-size="fileSize"
      entity-name="запчастей"
      parent-entity-name="группы"
    />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiCsvImportProcess } from '@/lib-components'

@Component({
  components: { UiCsvImportProcess },
})
export default class CsvSelectFileExample extends ExampleWrap {
  progress = 0.5
  fileSizeLog = toLog(1_234_567)

  get fileSize() {
    return fromLog(this.fileSizeLog)
  }

  get min() {
    return toLog(50)
  }

  get max() {
    return toLog(50_000_000_000)
  }

  get step() {
    return (this.max - this.min) / 1000
  }
}

function toLog(x: number) {
  return Math.log(x)
}

function fromLog(x: number) {
  return Math.pow(Math.E, x)
}
</script>
