<template>
  <ui-csv-select-file
    @select-file="uploadFile"
    :columns="columns"
    :example-href="exampleHref"
    :loading="isLoading"
  >
    <ul>
      <li><span class="text-dark">Lorem</span> ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>
        Lorem ipsum dolor sit amet,
        <span class="text-dark">%%CLEAR%%</span> adipisicing elit. Ad alias
        aspernatur cupiditate dolor eaque earum ipsa iste molestiae nesciunt,
        non numquam obcaecati officiis possimus quod rem similique tempore unde
        voluptatem.
      </li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
  </ui-csv-select-file>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiCsvSelectFile } from '@/lib-components'

@Component({
  components: { UiCsvSelectFile },
})
export default class CsvSelectFileExample extends ExampleWrap {
  columns: string[] = ['brand', 'oem', 'qwe', 'asd', 'zxc']
  exampleHref = 'http://test-url/file.csv'
  isLoading = false

  uploadFile(file: File) {
    this.isLoading = true

    setTimeout(() => {
      this.isLoading = false
    }, 1000)
  }
}
</script>
