<template>
  <q-avatar size="32px" icon="la la-user" text-color="secondary">
    <q-tooltip>{{ tooltip }}</q-tooltip>
  </q-avatar>
</template>

<style scoped lang="sass">
::v-deep .q-avatar__content
  font-size: 32px
  line-height: 32px
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QAvatar, QTooltip } from 'quasar'

@Component({ components: { QAvatar, QTooltip } })
export default class ClientAvatar extends Vue {
  @Prop({ type: String })
  tooltip!: string
}
</script>
