<template>
  <div class="q-gutter-x-sm">
    <ui-badge label="Текст" />
    <ui-badge label="Текст 2" inverse />
    <ui-badge label="Текст 3" accent />
    <ui-badge>
      <q-icon name="la la-check" />
    </ui-badge>
    <ui-badge>
      <q-icon name="la la-check" class="q-mr-sm" />
      Пока
    </ui-badge>
    <ui-badge accent>
      Привет
      <q-icon name="la la-check" class="q-ml-sm" />
    </ui-badge>
    <ui-badge inverse>
      Бабка
      <q-icon name="la la-check" class="q-ml-sm" />
      <q-icon name="la la-check" class="q-ml-sm" />
    </ui-badge>

    <ui-badge label="Текст" color="primary" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBadge } from '@/lib-components'

@Component({
  components: { UiBadge },
})
export default class BadgeExample extends ExampleWrap {}
</script>
