<template>
  <div>
    <div>
      <ui-input-material
        v-model="orderName"
        label="Номер заказа"
        class="q-mb-md"
      />
      <q-btn :to="indexPage" label="Показать виджет" />
    </div>
    <q-drawer
      :value="true"
      :width="700"
      side="right"
      content-class="bg-dark q-pl-sm"
    >
      <widgets-page :order-name="orderName || undefined" />
    </q-drawer>
  </div>
</template>

<style scoped lang="scss">
.point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
</style>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiInputMaterial from '@/lib-components/form/UiInputMaterial.vue'
import { RouteNames } from '@/widgets/messages/router/routeNames'
import WidgetsPage from '@/widgets/base/WidgetsPage.vue'

@Component({
  components: { WidgetsPage, UiInputMaterial },
})
export default class MessagesExample extends ExampleWrap {
  orderName = ''

  get indexPage() {
    return { name: RouteNames.index }
  }
}
</script>
