<template>
  <q-btn v-on="$listeners" v-bind="$attrs" no-caps flat color="default">
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-btn>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QBtn } from 'quasar'

@Component({ inheritAttrs: false, components: { QBtn } })
export default class UiBarBtn extends Vue {}
</script>
