<template>
  <ui-bar-btn
    v-on="$listeners"
    v-bind="$attrs"
    label="Сохранить"
    icon="la la-save"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </ui-bar-btn>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import UiBarBtn from '@/lib-components/bar/UiBarBtn.vue'

@Component({ inheritAttrs: false, components: { UiBarBtn } })
export default class UiBarBtnSave extends UiBarBtn {}
</script>
