<template>
  <q-btn-toggle
    v-bind="$attrs"
    v-on="$listeners"
    no-caps
    unelevated
    toggle-text-color="dark"
    toggle-color="blue-grey-2"
    text-color="dark"
    class="ui-bar-btn-toggle"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QBtnToggle } from 'quasar'

@Component({ inheritAttrs: false, components: { QBtnToggle } })
export default class UiBarBtnToggle extends Vue {}
</script>
