<template>
  <div class="q-mt-md q-gutter-y-sm">
    <ui-option-group
      v-model="value"
      :options="options"
      :errors="errors"
      label="E-mail"
      name="email"
    />
    <div class="q-mt-md">Выбранное значени: {{ value }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiOptionGroup } from '@/lib-components'

@Component({
  components: { UiOptionGroup },
})
export default class OptionGroupExample extends ExampleWrap {
  value = 1

  options = [
    { label: 'Item 1', value: 1 },
    { label: 'Item 2', value: 2 },
    { label: 'Item 3', value: 3 },
  ]

  errors = {
    email: 'Текст ошибки',
  }
}
</script>
