<template>
  <q-layout view="hHh Lpr lff" container style="height: 300px" class="shadow-2">
    <q-header elevated class="bg-black">
      <ui-toolbar title="Бабка" />
    </q-header>

    <ui-drawer>
      <ui-list title="Заголовок" padding clickable-items>
        <ui-list-item>123</ui-list-item>
        <ui-list-item>123</ui-list-item>
        <ui-list-item>123</ui-list-item>
        <ui-list-item>123</ui-list-item>
        <ui-list-item>123</ui-list-item>
      </ui-list>
    </ui-drawer>

    <q-page-container>
      <q-page padding> </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import {
  UiChip,
  UiDrawer,
  UiList,
  UiListItem,
  UiToolbar,
} from '@/lib-components'

@Component({
  components: { UiChip, UiDrawer, UiToolbar, UiListItem, UiList },
})
export default class DrawerExample extends ExampleWrap {
  title = 'Без мини мода'
}
</script>
