<template>
  <q-layout view="hHh Lpr lff" container style="height: 500px" class="shadow-2">
    <q-header elevated class="bg-black">
      <ui-toolbar title="Бабка" />
    </q-header>

    <ui-drawer :mini.sync="mini" mini-text="miniText" :mini-width="112">
      <template slot="mini">
        <q-list dark class="bg-dark full-height" style="width: 56px;">
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
        </q-list>
      </template>
      <div class="flex full-height no-wrap">
        <q-list dark class="bg-dark full-height" style="width: 56px">
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="la la-close" />
            </q-item-section>
          </q-item>
        </q-list>
        <ui-list title="Заголовок" clickable-items padding>
          <ui-list-item>123</ui-list-item>
          <ui-list-item>123</ui-list-item>
          <ui-list-item>123</ui-list-item>
          <ui-list-item>123</ui-list-item>
        </ui-list>
      </div>
    </ui-drawer>

    <q-page-container>
      <q-page padding>
        <q-checkbox v-model="mini" label="Показать / скрыть" />
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import {
  UiChip,
  UiDrawer,
  UiList,
  UiListItem,
  UiToolbar,
} from '@/lib-components'

@Component({
  components: { UiChip, UiToolbar, UiListItem, UiList, UiDrawer },
})
export default class DrawerExample extends ExampleWrap {
  title = 'Scoped slot mini'
  mini = false
}
</script>
