<template>
  <ui-btn v-on="$listeners" :label="label" icon="la la-plus" rounded outline />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import UiBtn from '@/lib-components/buttons/UiBtn.vue'

@Component({
  inheritAttrs: false,
  components: { UiBtn },
})
export default class SubscribeBtn extends Vue {
  @Prop(String)
  label!: string
}
</script>
