<template>
  <div class="q-mt-md">
    <ui-linear-progress :value="value" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiLinearProgress } from '@/lib-components'

@Component({
  components: { UiLinearProgress },
})
export default class BtnExample extends ExampleWrap {
  value = 0

  created() {
    setTimeout(() => {
      const interval = setInterval(() => {
        if (this.value >= 100) {
          clearInterval(interval)
        } else {
          this.value++
        }
      }, 200)
    }, 1000)
  }
}
</script>
