<template>
  <div class="q-mt-md">
    <ui-btn-cancel />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtnCancel } from '@/lib-components'

@Component({ components: { UiBtnCancel } })
export default class BtnCancelExample extends ExampleWrap {}
</script>
