<template>
  <div class="q-mt-md">
    <ui-btn-close />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtnClose } from '@/lib-components'

@Component({
  components: { UiBtnClose },
})
export default class BtnCloseExample extends ExampleWrap {}
</script>
