<template>
  <div class="q-mt-md q-gutter-y-sm">
    <ui-select
      v-model="value"
      :options="options"
      name="email"
      label="Выберите значение"
    />
    <div class="q-mt-md">value: {{ value }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiSelect } from '@/lib-components'

@Component({
  components: { UiSelect },
})
export default class SelectExample extends ExampleWrap {
  value = null

  options = ['хуй', 'пизда', 'джигурда']
}
</script>
