<template>
  <div class="q-mt-md">
    <div>
      <ui-toggle v-model="value" label="Лэйбл не меняется" />
    </div>
    <div>
      <ui-toggle v-model="value" :labels="labels" />
    </div>
    <div class="q-mt-lg">
      <ui-toggle v-model="value" :labels="labels" left-label />
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiToggle } from '@/lib-components'

@Component({
  components: { UiToggle },
})
export default class ToggleExample extends ExampleWrap {
  value = false

  labels = {
    off: 'Отключена',
    on: 'Включена',
  }
}
</script>
