<template>
  <div class="q-mt-md">
    <ui-bar-btn-cancel />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBarBtnCancel from '@/lib-components/bar/UiBarBtnCancel.vue'

@Component({ components: { UiBarBtnCancel } })
export default class BarBtnCancelExample extends ExampleWrap {}
</script>
