<template>
  <div class="q-mt-md q-gutter-y-sm">
    <ui-input v-model="value" name="firstName" label="label" />
    <ui-input v-model="email" name="email" label="label" :errors="errors" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiInput } from '@/lib-components'

@Component({
  components: { UiInput },
})
export default class InputExample extends ExampleWrap {
  value = ''
  email = 'Инпут с ошибкой'

  errors = {
    email: 'Текст ошибки',
  }
}
</script>
