<template>
  <div class="bg-background q-pa-lg">
    <ui-log
      title="Заголовок"
      date="дата"
      file-size="13 kb"
      manager-name="Коренской Антон"
      accent-text="Текст для привлечения внимания"
    >
      <ui-datalist>
        <ui-datalist-row
          label="Лейбл 1"
          value="Занчение 1"
          value-class="text-positive"
        />
        <ui-datalist-row
          label="Лейбл 1"
          value="Занчение 1"
          label-class="text-positive"
        />
        <ui-datalist-row label="Лейбл 2" value="Занчение lorem" />
        <ui-datalist-row label="Лейбл 2" value="Занчение lorem" />
        <ui-datalist-row label="Лейбл 2" value="Занчение lorem" />
        <ui-datalist-row
          class="text-negative"
          label="Длинный лейбл 3"
          value="123"
        />
      </ui-datalist>
    </ui-log>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiLog from '@/lib-components/UiLog.vue'
import UiDatalist from '@/lib-components/UiDatalist.vue'
import UiDatalistRow from '@/lib-components/UiDatalistRow.vue'

@Component({
  components: { UiDatalistRow, UiDatalist, UiLog },
})
export default class DialogExample extends ExampleWrap {}
</script>
