<template>
  <div class="bg-background">
    <q-drawer :value="true" side="right" :width="500">
      <ui-delivery-tracking v-if="track !== null" :track="track" />
      <ui-delivery-tracking-form
        v-else
        @submit="submitForm"
        api-host="https://tracking.s25.work"
        project-host="suppliers.s25.work"
      />
    </q-drawer>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiDeliveryTracking from '@/lib-components/composite/UiDeliveryTracking.vue'
import UiDeliveryTrackingForm from '@/lib-components/composite/UiDeliveryTrackingForm.vue'
import { Track } from '@/lib-components/composite/delivery-tracking/dto/Track'

@Component({
  components: { UiDeliveryTrackingForm, UiDeliveryTracking },
})
export default class DeliveryTrackingExample extends ExampleWrap {
  track: Track | null = null

  submitForm(track: Track) {
    this.track = track
  }
}
</script>
