<template>
  <div class="q-mt-md">
    <q-checkbox v-model="hasImage" label="Есть фото" class="q-mr-md" />
    <ui-user-avatar :user="user" />
  </div>
</template>

<script lang="ts">
import { Component, Watch } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiUserAvatar } from '@/lib-components'

const exampleImage =
  'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1VVXyXhlkqBiTad2bBHdg8vly4Fvw962JA8Ky8UR3NBqR_OXw&usqp=CAU'
@Component({
  components: { UiUserAvatar },
})
export default class UserAvatarExample extends ExampleWrap {
  hasImage = false

  user = {
    firstName: 'Антон',
    lastName: 'Коренской',
    avatar: '',
  }

  @Watch('hasImage')
  updateImage(value: boolean) {
    this.user.avatar = value ? exampleImage : ''
  }
}
</script>
