<template>
  <div class="q-pa-lg bg-background">
    <ui-list-card
      @save="save"
      @remove="remove"
      @edit="edit"
      @cancel="cancel"
      :is-edit-mode="isEditMode"
      :card-title="cardTitle"
      :list-title="listTitle"
      :list-items="listItems"
      :list-item-text="getListItemText"
      card-title-edit="Редактирование периода"
      card-title-label="Назване периода"
      list-item-placeholder="Укажите время"
    >
      <template #item-popup="{item}">
        <q-popup-edit v-model="item.name" :cover="false">
          <q-input
            v-model="item.name"
            autofocus
            label="Редактирование строки"
          />
        </q-popup-edit>
      </template>
      <template #new-item-popup="{items}">
        <q-popup-edit
          v-model="popupValue"
          @save="addItem($event, items)"
          :cover="false"
        >
          <q-input v-model="popupValue" autofocus label="Новая строка" />
        </q-popup-edit>
      </template>
    </ui-list-card>
    <div class="q-mt-lg">
      <div class="text-h5">savedData:</div>
      {{ savedData }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiListCard from '@/lib-components/composite/UiListCard.vue'
import ListCardSavePayload from '@/types/ListCardSavePayload'

interface MyItem {
  name: string
}

@Component({
  components: { UiListCard },
})
export default class ListCardExample extends ExampleWrap {
  isEditMode = false
  cardTitle = 'Заголовок карточки'
  listTitle = 'Заголовок листа'
  listItems: MyItem[] = [
    { name: 'Название строки 1' },
    { name: 'Название строки 2' },
    { name: 'Название строки 3' },
  ]

  popupValue = ''

  savedData: ListCardSavePayload<MyItem> | null = null

  getListItemText(item: MyItem) {
    return item.name
  }

  addItem(itemName: string, items: MyItem[]) {
    items.push({ name: itemName })
    this.popupValue = ''
  }

  save(payload: ListCardSavePayload<MyItem>) {
    this.savedData = payload
    this.cardTitle = payload.title
    this.listItems = payload.items
    this.isEditMode = false
  }

  edit() {
    this.isEditMode = true
  }

  cancel() {
    this.isEditMode = false
  }

  remove() {
    alert('removed')
  }
}
</script>
