<template>
  <div>
    <ui-csv-select-file
      v-if="isInputScreen"
      @select-file="selectFile"
      :columns="['brand', 'oem', 'price', 'valuta', 'qt']"
      :loading="!!file"
      :example-href="exampleHref"
    />

    <ui-csv-import
      v-else
      :file-name="file.name"
      entity-name="запчастей"
      :row-count="rowCount"
      :errors-count="errorCount"
      @cancel="reset"
    />

    <div>
      <div>Valid rows: {{ validRows }}</div>
      <div>Invalid rows: {{ invalidRows }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiCsvImport } from '@/lib-components'
import UiCsvSelectFile from '@/lib-components/csv/UiCsvSelectFile.vue'
import CsvPreviewService from '@/services/CsvPreviewService'
import {
  brandName,
  exactMatch,
  nonEmptyString,
  optional,
  positiveNumber,
} from 'components/services/csv-preview-service/csvUtils'
import sample from '!!raw-loader!components/services/csv-preview-service/sample.csv'

const PREVIEW_ROW_COUNT = 1000

type Row = {
  brand: string
  oem: string
  price: string
  valuta: string
  qt?: string
}

const previewService = new CsvPreviewService<Row>({
  requiredFields: ['brand', 'oem', 'price', 'valuta'],
  validators: {
    brand: brandName('suzuki'),
    oem: nonEmptyString,
    price: optional(positiveNumber),
    valuta: exactMatch('JPY'),
    qt: optional(positiveNumber),
  },
})

@Component({
  components: { UiCsvSelectFile, UiCsvImport },
})
export default class CsvSelectFileExample extends ExampleWrap {
  file: File | null = null

  separator = ''

  rowCount = 0
  errorCount = 0

  validRows: Row[] = []
  invalidRows: Row[] = []

  previewReady = false

  get isInputScreen() {
    return !this.previewReady
  }

  async selectFile(file: File) {
    const frozen = Object.freeze(file)

    this.file = frozen

    try {
      const previewResult = await previewService.execute(frozen)

      if (previewResult.fieldsError) {
        throw new Error(previewResult.fieldsError)
      }

      this.separator = previewResult.delimiter
      this.rowCount = previewResult.rows.length
      this.errorCount = previewResult.errors.length
      this.validRows = previewResult.takeValidRows(PREVIEW_ROW_COUNT)
      this.invalidRows = previewResult.takeInvalidRows(PREVIEW_ROW_COUNT)

      this.previewReady = true
    } catch (e) {
      this.reset()
    }
  }

  reset() {
    this.file = null
    this.previewReady = false
    this.validRows = []
    this.invalidRows = []
  }

  get exampleHref() {
    return 'data:application/octet-stream;base64,' + btoa(sample)
  }
}
</script>
