<template>
  <div class="q-gutter-y-sm">
    <ui-chip>Без значения</ui-chip>
    <ui-chip icon="la la-check">Содержит иконку</ui-chip>
    <ui-chip value="3">Какой-то текст</ui-chip>
    <ui-chip value="14">Какой-то текст</ui-chip>
    <ui-chip value="999">Какой-то текст</ui-chip>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiChip } from '@/lib-components'

@Component({
  components: { UiChip },
})
export default class ChipExample extends ExampleWrap {}
</script>
