<template>
  <div class="q-gutter-y-sm">
    <ui-chip icon="la la-check" accent>Содержит иконку</ui-chip>
    <ui-chip value="3" accent>Какой-то текст</ui-chip>
    <ui-chip value="14" accent>Какой-то текст</ui-chip>
    <ui-chip value="999" color="positive">Какой-то текст</ui-chip>
    <ui-chip value="999" accent color="info">Какой-то текст</ui-chip>
    <ui-chip color="warning">Какой-то текст</ui-chip>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiChip } from '@/lib-components'

@Component({
  components: { UiChip },
})
export default class ChipExampleStyle extends ExampleWrap {
  title = 'Стили'
}
</script>
