<template>
  <widget-page disable>
    <ui-notifications-config />
  </widget-page>
</template>

<script lang="ts">
import { Component, Inject, Vue } from 'vue-property-decorator'
import UiNotificationsConfig from '@/widgets/notifications/components/config/UiNotificationsConfig.vue'
import WidgetPage from '@/widgets/base/components/widget-page/WidgetPage.vue'
import { NotificationsModule } from '@/widgets'
import LocalStorageHelper from '@/widgets/notifications/helpers/LocalStorageHelper'

@Component({
  components: { WidgetPage, UiNotificationsConfig },
})
export default class ConfigPage extends Vue {}
</script>
