<template>
  <div class="q-mt-md">
    <ui-toggle-group title="qwe" :options="options" />
  </div>
</template>

<style lang="scss"></style>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiToggleGroup from '@/lib-components/form/UiToggleGroup.vue'

@Component({
  components: { UiToggleGroup },
})
export default class ToggleGroupExample extends ExampleWrap {
  value = false

  options = [
    { label: 'Крупногобарит', value: false },
    { label: 'Запрет к продаже', value: false },
  ]
}
</script>
