<template>
  <div class="q-mt-md q-gutter-y-sm">
    <ui-search-input v-model="value" label="label" width="200px" />

    <div class="bg-dark q-pa-lg row">
      <ui-search-input v-model="value" label="label" width="200px" dark />
      <q-space />
      <ui-search-input v-model="value" label="label" width="200px" dark />
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiSearchInput from '@/lib-components/form/UiSearchInput.vue'

@Component({
  components: { UiSearchInput },
})
export default class SearchInputExample extends ExampleWrap {
  value = ''
}
</script>
