<template>
  <div class="q-mt-md">
    <ui-bar-btn-toggle v-model="value" :options="options" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBarBtnToggle from '@/lib-components/bar/UiBarBtnToggle.vue'

@Component({ components: { UiBarBtnToggle } })
export default class BarBtnToggleExample extends ExampleWrap {
  value = 'one'

  options = [
    { label: 'One', value: 'one' },
    { label: 'Two', value: 'two' },
    { label: 'Three', value: 'three' },
  ]
}
</script>
