<template>
  <q-tabs v-on="$listeners" v-bind="$attrs" align="left" class="ui-tabs">
    <slot></slot>
    <q-space />
    <slot name="after"></slot>
  </q-tabs>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QSpace, QTabs } from 'quasar'

@Component({
  inheritAttrs: false,
  components: { QTabs, QSpace },
})
export default class UiTabs extends Vue {}
</script>
