<template>
  <q-tab-panels
    v-on="$listeners"
    v-bind="$attrs"
    animated
    transition-prev="fade"
    transition-next="fade"
    class="ui-tab-panels"
  >
    <slot></slot>
  </q-tab-panels>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QTabPanels } from 'quasar'

@Component({ inheritAttrs: false, components: { QTabPanels } })
export default class UiTabPanels extends Vue {}
</script>
