<template>
  <q-tab-panel
    v-on="$listeners"
    v-bind="$attrs"
    class="ui-tab-panel"
    :name="name"
  >
    <slot></slot>
  </q-tab-panel>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QTabPanel } from 'quasar'

@Component({ inheritAttrs: false, components: { QTabPanel } })
export default class UiTabPanel extends Vue {
  @Prop({ type: String, required: true })
  name!: string
}
</script>
