<template>
  <q-tab v-on="$listeners" v-bind="$attrs" :name="name" class="ui-tab">
    <slot />
  </q-tab>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QTab } from 'quasar'

@Component({
  inheritAttrs: false,
  components: { QTab },
})
export default class UiTab extends Vue {
  @Prop({ type: String, required: true })
  name!: string
}
</script>
