<template>
  <div class="q-px-lg ui-place-search-hint">
    <p class="text-secondary text-center">
      Введите населенный пункт или индекс, поиск по городу начинает работать от
      3-символов.
    </p>
    <place-select-count :country="country" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import PlaceSelectCount from './PlaceSelectCount.vue'
import Country from '../../dto/Country'

@Component({
  components: { PlaceSelectCount },
})
export default class PlaceSelectSearchHint extends Vue {
  @Prop(Object) country!: Country
}
</script>
