<template>
  <div class="q-px-lg ui-place-search-hint">
    <p class="text-negative text-center">
      Мы искали по выражению
      <span class="text-bold text-dark">“{{ query }}”</span> но ничего не нашли.
      Проверть корректность написания населеннокго пункта.
    </p>
    <place-select-count :country="country" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import Country from '../../dto/Country'
import PlaceSelectCount from './PlaceSelectCount.vue'

@Component({
  components: { PlaceSelectCount },
})
export default class PlaceSelectEmptyResult extends Vue {
  @Prop(Object) country!: Country
  @Prop(String) query!: string
}
</script>
