<template>
  <div class="q-mt-md">
    <ui-btn-menu />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtnMenu } from '@/lib-components'

@Component({
  components: { UiBtnMenu },
})
export default class BtnMenuExample extends ExampleWrap {}
</script>
