<template>
  <div>
    <ui-phone-input v-model="value" />
    <div class="q-mt-md">value: {{ value }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiPhoneInput from '@/lib-components/form/UiPhoneInput.vue'

@Component({
  components: { UiPhoneInput },
})
export default class PhoneInputExample extends ExampleWrap {
  value = ''
}
</script>
