<template>
  <div class="q-mt-md" style="font-size: 14px;">
    <div v-for="error in errors" :key="error" class="text-negative">
      — {{ error }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class ErrorMessages extends Vue {
  @Prop(Object) errors!: { [key: string]: string }
}
</script>
