<template>
  <div class="q-mt-md">
    <div class="q-gutter-x-sm">
      <ui-btn-toggle v-model="value" :options="options" color="primary" />
      <ui-btn-toggle
        v-model="value"
        :options="options"
        color="primary"
        rounded
      />
      <ui-btn-toggle v-model="value" :options="options" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtnToggle } from '@/lib-components'

@Component({
  components: { UiBtnToggle },
})
export default class Btn extends ExampleWrap {
  value = 'one'

  options = [
    { label: 'One', value: 'one' },
    { label: 'Two', value: 'two' },
    { label: 'Three', value: 'three' },
  ]
}
</script>
