<template>
  <q-list padding dense>
    <q-item v-if="!!title">
      <q-item-section>
        <q-item-label overline class="text-blue-grey">{{ title }}</q-item-label>
      </q-item-section>
    </q-item>
    <slot></slot>
  </q-list>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QItem, QItemLabel, QItemSection, QList } from 'quasar'

@Component({
  inheritAttrs: false,
  components: { QList, QItem, QItemSection, QItemLabel },
})
export default class UiMenuGroup extends Vue {
  @Prop(String) title?: string
}
</script>
