<template>
  <q-menu
    v-on="$listeners"
    v-bind="$attrs"
    :content-class="['shadow-2 ui-menu', contentClass]"
  >
    <slot></slot>
  </q-menu>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QMenu } from 'quasar'

@Component({ inheritAttrs: false, components: { QMenu } })
export default class UiMenu extends Vue {
  @Prop() contentClass!: unknown
}
</script>
