<template>
  <q-btn-toggle
    v-bind="$attrs"
    v-on="$listeners"
    no-caps
    unelevated
    toggle-text-color="white"
    toggle-color="primary"
    text-color="primary"
    class="ui-btn-toggle"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QBtnToggle } from 'quasar'

@Component({ inheritAttrs: false, components: { QBtnToggle } })
export default class UiBtnToggle extends Vue {}
</script>
