<template>
  <q-input
    v-on="$listeners"
    v-bind="$attrs"
    outlined
    hide-bottom-space
    no-error-icon
    :error="hasError"
  />
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import BaseFormField from './BaseFormField'
import { QInput } from 'quasar'

@Component({ inheritAttrs: false, components: { QInput } })
export default class UiInput extends BaseFormField {}
</script>
