<template>
  <q-input
    v-on="$listeners"
    v-bind="$attrs"
    hide-bottom-space
    no-error-icon
    autocomplete="off"
    :error="hasError"
    clear-icon="la la-times"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-input>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import BaseFormField from './BaseFormField'
import { QInput } from 'quasar'

@Component({ inheritAttrs: false, components: { QInput } })
export default class UiInputMaterial extends BaseFormField {}
</script>
