<template>
  <q-select
    v-on="$listeners"
    v-bind="$attrs"
    class="ui-select"
    :input-debounce="inputDebounce"
    hide-bottom-space
    :error="hasError"
    no-error-icon
    dropdown-icon="la la-angle-double-down"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-select>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator'
import BaseFormField from './BaseFormField'
import { QSelect } from 'quasar'

@Component({ inheritAttrs: false, components: { QSelect } })
export default class UiSelect extends BaseFormField {
  @Prop({ type: Number, default: () => 0 }) inputDebounce?: number
}
</script>
