<template>
  <q-time
    v-on="$listeners"
    v-bind="$attrs"
    color="background"
    text-color="dark"
  />
</template>

<style scoped lang="sass">
::v-deep
  .q-time__container-child
    background: $background
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QTime } from 'quasar'

@Component({ inheritAttrs: false, components: { QTime } })
export default class UiTimePicker extends Vue {}
</script>
