<template>
  <div>
    <div class="q-gutter-x-sm q-mb-lg">
      <q-checkbox v-model="withTitle" label="Заголовок" />
      <q-checkbox v-model="withLine1" label="Строка 1" />
      <q-checkbox v-model="withLine2" label="Строка 2" />
      <q-checkbox v-model="withLine3" label="Строка 3" />
      <q-checkbox v-model="isShown" label="Скрытие/Показ" />
    </div>

    <q-slide-transition>
      <ui-flash
        v-if="isShown"
        :title="flashTitle"
        :items="lines"
        @close="close"
      />
    </q-slide-transition>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiFlash } from '@/lib-components'
import UiBtn from '@/lib-components/buttons/UiBtn.vue'
import { QSlideTransition } from 'quasar'

@Component({ components: { UiBtn, UiFlash, QSlideTransition } })
export default class UiFlashExample extends ExampleWrap {
  withTitle = true
  withLine1 = true
  withLine2 = true
  withLine3 = true
  isShown = true

  get flashTitle() {
    return this.withTitle ? 'Скучно мне, Прохор...' : undefined
  }

  get lines() {
    return [
      this.withLine1 && 'А может запрячь тройку да к цыганам?',
      this.withLine2 && 'А может в баньку да с девками?',
      this.withLine3 && 'Жениться тебе надо, барин!',
    ].filter(x => x)
  }

  close() {
    this.isShown = false

    setTimeout(() => {
      this.isShown = true
    }, 2000)
  }
}
</script>
