<template>
  <div class="notification-side">
    <slot></slot>
  </div>
</template>

<style scoped lang="sass">
.notification-side
  flex-shrink: 0
  padding: 12px
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  inheritAttrs: false,
})
export default class UiNotificationItemSide extends Vue {}
</script>
