<template>
  <div class="q-mt-md">
    <ui-bar-btn label="Универсальная кнопка" icon="la la-question" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBar from '@/lib-components/bar/UiBar.vue'
import UiBarBtnCancel from '@/lib-components/bar/UiBarBtnCancel.vue'
import UiBarBtnSave from '@/lib-components/bar/UiBarBtnSave.vue'
import UiBarBtn from '@/lib-components/bar/UiBarBtn.vue'
import UiBarBtnToggle from '@/lib-components/bar/UiBarBtnToggle.vue'

@Component({ components: { UiBarBtn } })
export default class BarBtnExample extends ExampleWrap {}
</script>
