<template>
  <div class="q-mt-md flex ui-gap-x-sm">
    <ui-btn
      @click="save"
      outline
      rounded
      :loading="loading"
      :label="submitText"
    />
    <ui-btn @click="cancel" flat rounded label="Отмена" color="blue-grey" />
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator'
import UiBtn from '@/lib-components/buttons/UiBtn.vue'

@Component({
  components: { UiBtn },
})
export default class MessageFormFooter extends Vue {
  @Prop({ type: String })
  submitText!: string

  @Prop(Boolean)
  loading!: boolean

  @Emit()
  save() {
    return true
  }

  @Emit()
  cancel() {
    return true
  }
}
</script>
