<template>
  <div class="q-pa-lg bg-background">
    <ui-card title="#title">
      #default
      <template #footer>
        #footer
      </template>
    </ui-card>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiCard from '@/lib-components/UiCard.vue'

@Component({
  components: { UiCard },
})
export default class CardExample extends ExampleWrap {}
</script>
