<template>
  <div class="q-mt-md">
    <ui-bar>
      <ui-bar-btn label="Универсальная кнопка" icon="la la-question" />
      <ui-bar-btn-save />
      <ui-bar-btn-cancel />

      <template #after>
        <ui-bar-btn-toggle v-model="value" :options="options" />
      </template>
    </ui-bar>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBar from '@/lib-components/bar/UiBar.vue'
import UiBarBtnCancel from '@/lib-components/bar/UiBarBtnCancel.vue'
import UiBarBtnSave from '@/lib-components/bar/UiBarBtnSave.vue'
import UiBarBtn from '@/lib-components/bar/UiBarBtn.vue'
import UiBarBtnToggle from '@/lib-components/bar/UiBarBtnToggle.vue'

@Component({
  components: { UiBarBtnToggle, UiBar, UiBarBtn, UiBarBtnSave, UiBarBtnCancel },
})
export default class BarExample extends ExampleWrap {
  value = 'one'

  options = [
    { label: 'One', value: 'one' },
    { label: 'Two', value: 'two' },
    { label: 'Three', value: 'three' },
  ]
}
</script>
