<template>
  <div class="q-mt-md">
    <div class="q-mb-md">
      <q-checkbox v-model="isDense" label="Сжатый режим" />
    </div>
    <q-separator />
    <ui-zebra :dense="isDense" style="min-height: 500px" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiZebra } from '@/lib-components'

@Component({
  components: { UiZebra },
})
export default class ZebraExample extends ExampleWrap {
  isDense = true
}
</script>
