<template>
  <div class="q-mt-md">
    <ui-bar-btn-save />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBarBtnSave from '@/lib-components/bar/UiBarBtnSave.vue'

@Component({ components: { UiBarBtnSave } })
export default class BarBtnSaveExample extends ExampleWrap {}
</script>
