<template>
  <div>
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Provide, Vue } from 'vue-property-decorator'

@Component
export default class FileList extends Vue {
  @Prop({ type: Boolean, default: false })
  @Provide('IsEditable')
  isEditable!: boolean
}
</script>
