<template>
  <div class="q-mt-md flex ui-gap-sm">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class MediaList extends Vue {}
</script>
