<template>
  <div class="q-mt-md">
    <ui-btn-save />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBtnSave from '@/lib-components/buttons/UiBtnSave.vue'

@Component({ components: { UiBtnSave } })
export default class BtnSaveExample extends ExampleWrap {}
</script>
