<template>
  <div>
    <router-view />
    <components-description v-if="$route.name === 'components'" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ComponentsDescription from 'pages/ComponentsDescription.vue'

@Component({
  components: { ComponentsDescription },
})
export default class ComponentsPage extends Vue {}
</script>
