<template>
  <base-page title="Компоненты">
    <q-card>
      <q-card-section>
        <p>
          Все имена компоненов <code>ui</code> библиотеки совпадают с именами
          компонентов <code>quasar</code>, изменент только префикс с
          <code>q-</code> на <code>ui-</code>
        </p>
        <div>
          Так же являются обертками, соответственно могут принимать те же
          <code>props</code> что и <code>quasar component</code>
        </div>
      </q-card-section>
    </q-card>
  </base-page>
</template>

<style scoped lang="scss">
code {
  background-color: $background;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import BasePage from 'components/BasePage.vue'

@Component({
  components: { BasePage },
})
export default class ComponentsDescription extends Vue {}
</script>
