<template>
  <base-page :title="title">
    <div v-for="(example, index) in examples" :key="index + title">
      <component-example :component-string="example.rawComponent">
        <component :is="example.component" />
      </component-example>
    </div>
  </base-page>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import BasePage from 'components/BasePage.vue'
import ComponentExample from 'components/ComponentExample.vue'
import { components } from 'src/router/components'
import { services } from 'src/router/services'
import ExampleHelper, {
  LoadedComponentExample,
} from 'src/helpers/ExampleHelper'
import { PageInfo } from 'src/router/PageInfo'

const sections = { components, services }

@Component({
  components: { ComponentExample, BasePage },
})
export default class ComponentPage extends Vue {
  @Prop(String) section: 'components' | 'services'
  @Prop(String) componentName: string
  @Prop(String) groupName?: string

  title = ''
  examples: LoadedComponentExample[] = []

  @Watch('componentName', { immediate: true })
  loadPage(componentName: string) {
    this.examples = []

    const section = sections[this.section]

    const group = this.groupName
      ? ((section.find(c => c.group === this.groupName) as PageInfo)
          .children as PageInfo[])
      : section

    const info = group.find(c => c.component === componentName)

    if (info) {
      this.title = info.title

      this.examples = ExampleHelper.getExamples(this.section, componentName)
    }
  }
}
</script>
