<template>
  <base-page title="Установка">
    <q-card>
      <q-card-section class="flex items-center">
        <q-btn @click="copyText(npmInstall)" round flat icon="la la-copy" />
        <div class="col-grow">
          <prism is-js :code="npmInstall" />
        </div>
      </q-card-section>
    </q-card>
    <q-card class="q-mt-lg">
      <q-card-section>
        <div class="text-h4 q-mb-md">Подключение</div>
        Создаем boot файл например <code>vue-ui.ts</code> в
        <code>/src/boot</code>
        <prism is-js :code="bootFile" />
        <div class="q-mt-md">
          Не забываем добавить <code>boot</code> файл в настройки
          <code>quasar.conf.js</code>
        </div>
        <prism is-js :code="bootFileConfig" />
      </q-card-section>
    </q-card>
    <q-card class="q-mt-lg">
      <q-card-section>
        <div class="text-h4 q-mb-md">Подключение стилей</div>
        <prism is-js :code="cssInclude" />
      </q-card-section>
    </q-card>
    <q-card class="q-mt-lg">
      <q-card-section>
        <div class="text-h4 q-mb-md">
          Настройка шрифтов и иконок в <code>quasar.config.js</code>
        </div>
        <prism is-js :code="fontConfig" />
      </q-card-section>
    </q-card>
    <q-card class="q-mt-lg">
      <q-card-section>
        <div class="text-h4 q-mb-md">
          Настройка автоформатирования
        </div>

        Ставим доп.пакет, подсмотренные в vue-cli
        <div class="flex items-center">
          <q-btn
            @click="copyText(eslintExtraInstall)"
            round
            flat
            icon="la la-copy"
          />
          <div class="col-grow">
            <prism is-js :code="eslintExtraInstall" />
          </div>
        </div>

        Заменить содержимое свойства extends в файле .eslintrc.js
        <div class="flex items-center">
          <q-btn
            @click="copyText(eslintExtraInstall)"
            round
            flat
            icon="la la-copy"
          />
          <prism is-js :code="eslintExtraConfig" />
        </div>
      </q-card-section>
    </q-card>
  </base-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import BasePage from 'components/BasePage.vue'
import Prism from 'components/Prism.vue'
import { copyToClipboard } from 'quasar'

@Component({
  components: { Prism, BasePage },
})
export default class InstallPage extends Vue {
  npmInstall = 'npm i s25vue-ui'

  bootFile = `
import { boot } from 'quasar/wrappers';
import S25vueUi from 's25vue-ui';

export default boot(({ Vue }) => {
  Vue.use(S25vueUi)
});
  `

  bootFileConfig = `
{
***
  boot: ['vue-ui.ts'],
***
}
  `

  cssInclude = `
// src/css/quasar.variables.scss
@import "~s25vue-ui/ui/css/variables";


// src/css/app.scss
@import "~s25vue-ui/ui/index";
@import "~s25vue-ui/ui/css/fonts/stylesheet.css";
  `

  fontConfig = `
{
***
  extras = [ 'line-awesome' ],
***
  framework: {
    iconSet: iconSet: 'line-awesome', // Quasar icon set
    ***
  },
***
}

  `

  eslintExtraInstall =
    'npm i -D prettier eslint-plugin-prettier @vue/eslint-config-prettier @vue/eslint-config-typescript'

  eslintExtraConfig =
    "extends: ['plugin:vue/essential', '@vue/prettier', '@vue/typescript'],"

  copyText(text: string) {
    copyToClipboard(text)
  }
}
</script>
