<template>
  <base-page title="Сервисы">
    <q-card>
      <q-card-section>
        <div>
          Что тут попишешь?
        </div>
      </q-card-section>
    </q-card>
  </base-page>
</template>

<style scoped lang="scss">
code {
  background-color: $background;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import BasePage from 'components/BasePage.vue'

@Component({
  components: { BasePage },
})
export default class ServicesDescription extends Vue {}
</script>
