<template>
  <div>
    <router-view />
    <services-description v-if="$route.name === 'services'" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ServicesDescription from 'pages/ServicesDescription.vue'

@Component({
  components: { ServicesDescription },
})
export default class ServicesPage extends Vue {}
</script>
