<template>
  <base-page title="Работа со сторами"> </base-page>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import BasePage from 'components/BasePage.vue'

@Component({
  components: { BasePage },
})
export default class StorePage extends Vue {}
</script>
