<template>
  <div class="row">
    <div class="col">
      <div class="q-pa-md ui-gap-md">
        <q-btn
          v-for="btn in widgetButtons"
          :key="btn.label"
          :to="btn.route"
          :label="btn.label"
        />
        <div class="q-mt-md">Заказ {{ orderName }}</div>
      </div>
    </div>
    <div class="col col-auto" style="width: 700px">
      <widgets-page
        user-id="4c10844c-b6eb-46c5-b21c-ee88dfaec2b3"
        :order-name="orderName"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import WidgetsPage from '@/widgets/base/WidgetsPage.vue'
import {
  messagesHashNavRoutes,
  MessagesRouteNames,
  NotificationsRouteNames,
  TasksRouteNames,
} from '@/widgets'

@Component({ components: { WidgetsPage } })
export default class Widgets extends Vue {
  orderName = '123'

  get widgetButtons() {
    return [
      { route: { name: NotificationsRouteNames.index }, label: 'Нотификации' },
      {
        route: this.toMessages,
        label: 'Сообщения',
      },
      { route: { name: TasksRouteNames.tasks }, label: 'Задачи' },
    ]
  }

  get toMessages() {
    return {
      hash: this.inMessages ? '#' : messagesHashNavRoutes.index.compile({}),
    }
  }

  get inMessages() {
    const { hash } = this.$route

    return Object.values(messagesHashNavRoutes).some(x => x.match(hash))
  }
}
</script>
