<template>
  <div class="q-mt-md">
    <div v-for="color in colors" :key="color" class="q-pb-md">
      <div class="q-gutter-x-sm">
        <ui-btn label="Default" :color="color" />
        <ui-btn label="Outline" outline :color="color" />
        <ui-btn label="Flat" flat :color="color" />
        <ui-btn label="Flat" outline :color="color" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtn } from '@/lib-components'

@Component({
  components: { UiBtn },
})
export default class BtnExample extends ExampleWrap {
  title = 'Цвета'
  colors = [undefined, 'positive', 'negative', 'warning']
}
</script>
