<template>
  <div class="q-mt-md">
    <div v-for="size in sizes" :key="size" class="q-pb-md">
      <div class="q-gutter-x-sm">
        <ui-btn :label="'Default ' + size" :size="size" />
        <ui-btn :label="'Outline ' + size" outline :size="size" />
        <ui-btn :label="'Flat ' + size" flat :size="size" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtn } from '@/lib-components'

@Component({
  components: { UiBtn },
})
export default class BtnExample extends ExampleWrap {
  title = 'Размеры'
  sizes = ['sm', 'md', 'lg']
}
</script>
