<template>
  <div class="q-mt-md q-gutter-y-sm">
    <div class="bg-dark q-pa-lg row">
      <ui-search-select
        v-model="value"
        :search-cb="searchCb"
        option-value="id"
        option-label="brand"
        placeholder="Продукт"
      >
        <template #option="{ opt: product, itemProps, itemEvents }">
          <q-item v-bind="itemProps" v-on="itemEvents">
            <q-item-section>
              <q-item-label caption>{{ product.brand }}</q-item-label>
              <q-item-label class="text-subtitle1">
                {{ product.name }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </ui-search-select>

      <q-space />

      <ui-search-select
        v-model="value"
        :search-cb="searchCb"
        option-value="id"
        option-label="name"
        placeholder="Продукт"
        width="250px"
      >
        <template #option="{ opt: product, itemProps, itemEvents }">
          <q-item v-bind="itemProps" v-on="itemEvents">
            <q-item-section>
              <q-item-label caption>{{ product.brand }}</q-item-label>
              <q-item-label class="text-subtitle1">
                {{ product.name }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </ui-search-select>
    </div>

    {{ value }}
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiSearchSelect from '@/lib-components/form/UiSearchSelect.vue'
import { QSpace } from 'quasar'

interface Product {
  brand: string
  name: string
}

@Component({ components: { UiSearchSelect, QSpace } })
export default class SearchSelectExample extends ExampleWrap {
  value = null
  searchCb = async (query: string) => await serviceRequest(query)
}

async function serviceRequest(query: string) {
  return new Promise<Product[]>(resolve => {
    setTimeout(() => {
      resolve(
        [
          { id: 1, brand: 'Apple', name: 'iPhone' },
          { id: 2, brand: 'Apple', name: 'iMac' },
          { id: 3, brand: 'Samsung', name: 'Galaxy' },
        ].filter(
          x =>
            x.name.toLowerCase().includes(query.toLowerCase()) ||
            x.brand.toLowerCase().includes(query.toLowerCase())
        )
      )
    }, 200)
  })
}
</script>
