<template>
  <tr>
    <td class="text-blue-grey track-description-label">{{ label }}</td>
    <td>
      <slot></slot>
    </td>
  </tr>
</template>

<style scoped>
.track-description-label {
  width: 1%;
  white-space: nowrap;
  padding-right: 24px;
}
</style>

<script lang="ts">
import { Prop, Vue, Component } from 'vue-property-decorator'

@Component
export default class TrackDescriptionRow extends Vue {
  @Prop(String) label!: string
}
</script>
