<template>
  <div style="padding: 48px" class="flex column items-center">
    <q-icon :name="icon" size="96px" color="blue-grey-1" />
    <div class="text-h2 q-mt-lg q-pt-sm">{{ title }}</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QIcon } from 'quasar'

@Component({ components: { QIcon } })
export default class TrackingInfoBlock extends Vue {
  @Prop(String) title!: string
  @Prop(String) icon!: string
}
</script>
