<template>
  <div>
    <ui-adding-panel
      @submit="onSubmit"
      title="Message about adding sth!"
      submit-label="Add button"
    />

    <ui-adding-panel
      icon="la la-folder-open"
      @submit="onSubmit"
      title="All aboard! Set sail!"
      subtitle="Wow! We've got a subtitle over here! So grey! Much padded!"
      submit-label="Don't you dare!"
    />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiAddingPanel } from '@/lib-components'

@Component({
  components: { UiAddingPanel },
})
export default class AddingPanelExample extends ExampleWrap {
  onSubmit() {
    // todo submit
  }
}
</script>
