<template>
  <div class="bg-background">
    <ui-delivery-calculator />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiDeliveryCalculator from '@/lib-components/composite/UiDeliveryCalculator.vue'

@Component({
  components: { UiDeliveryCalculator },
})
export default class DeliveryCalculatorExample extends ExampleWrap {}
</script>
