<template>
  <div class="q-mt-md">
    <ui-circular-progress :value="value" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiCircularProgress } from '@/lib-components'

@Component({
  components: { UiCircularProgress },
})
export default class BtnExample extends ExampleWrap {
  value = 0

  created() {
    const interval = setInterval(() => {
      if (this.value >= 100) {
        clearInterval(interval)
      } else {
        this.value++
      }
    }, 50)
  }
}
</script>
