<template>
  <ui-page-header title="Добавление трэк-номера">
    <ui-btn-close @click="close" />
  </ui-page-header>
</template>

<script lang="ts">
import { Emit, Vue, Component } from 'vue-property-decorator'
import UiBtnClose from '../../../../../lib-components/buttons/UiBtnClose.vue'
import UiPageHeader from '../../../../../lib-components/UiPageHeader.vue'

@Component({
  components: { UiPageHeader, UiBtnClose },
})
export default class TrackCreateHeader extends Vue {
  @Emit()
  close() {
    return true
  }
}
</script>
