<template>
  <div class="q-mt-md">
    <ui-file-input-btn @select-files="selectFiles" multiple />

    <ul class="q-mt-lg">
      <li v-for="(file, key) in files" :key="key">
        {{ file.name }} &bullet; {{ file.type }} &bullet;
        {{ file.size | humanStorageSize }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiFileInputBtn from '@/lib-components/form/UiFileInputBtn.vue'
import { format } from 'quasar'
const { humanStorageSize } = format

@Component({
  filters: { humanStorageSize },
  components: { UiFileInputBtn },
})
export default class FileInputBtnExample extends ExampleWrap {
  files: { name: string; size: number; type: string }[] = []

  selectFiles(files: File[]) {
    this.files = files.map(({ name, size, type }) => ({ name, size, type }))
  }
}
</script>
