<template>
  <div class="q-mt-md">
    <ui-user-menu />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiUserMenu } from '@/lib-components'

@Component({
  components: { UiUserMenu },
})
export default class UserMenuExample extends ExampleWrap {}
</script>
