<template>
  <div class="order-info-item">
    <q-icon :name="icon" size="20px" color="dark" />
    <span class="q-ml-sm">{{ label }}</span>
  </div>
</template>

<style scoped lang="sass">
.order-info-item
  display: flex
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QIcon } from 'quasar'

@Component({ components: { QIcon } })
export default class OrderInfoItem extends Vue {
  @Prop({ type: String, required: true })
  label!: string

  @Prop({ type: String, required: true })
  icon!: string
}
</script>
