<template>
  <div>
    <div class="flex q-gutter-x-lg q-mb-xl">
      <ui-input name="rows" v-model="rows" label="Строк" />
      <ui-input name="errors" v-model="errors" label="С ошибкой" />
    </div>

    <ui-csv-import
      file-name="qwe.csv"
      entity-name="запчастей"
      :row-count="rows"
      :errors-count="errors"
      @save="save"
      @cancel="cancel"
      :filter.sync="filter"
    />
    <div class="q-pa-md pre-wrap">{{ log }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiCsvImport } from '@/lib-components'
import UiInput from '@/lib-components/form/UiInput.vue'

@Component({
  components: { UiInput, UiCsvImport },
})
export default class CsvSelectFileExample extends ExampleWrap {
  rows = 23600

  errors = 137

  filter = 'valid'

  log = ''

  save() {
    this.log += 'save\n'
  }

  cancel() {
    this.log += 'cancel\n'
  }
}
</script>

<style scoped>
.pre-wrap {
  white-space: pre-wrap;
}
</style>
