<template>
  <div v-on="$listeners" v-bind="$attrs" class="cursor-pointer">
    <message :message="message" :client="message.client" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { FoundMessage } from '@/widgets/messages/types/Message'
import Message from '@/widgets/messages/components/message/Message.vue'

@Component({
  inheritAttrs: false,
  components: { Message },
})
export default class SearchMessagesItem extends Vue {
  @Prop({ type: Object, required: true })
  message!: FoundMessage
}
</script>
