<template>
  <div>
    <ui-list title="Striped" style="width: 500px" dense clickable-items>
      <ui-list-item>
        Москва
        <template slot="menu">
          <ui-menu-group>
            <ui-menu-item>Item 1</ui-menu-item>
            <ui-menu-item>Item 2</ui-menu-item>
            <ui-menu-item>
              Tooltip
              <template slot="tooltip">Tooltip</template>
            </ui-menu-item>
          </ui-menu-group>
        </template>
      </ui-list-item>
      <ui-list-item to="/">
        Владивосток
        <template slot="menu">
          <ui-menu-group>
            <ui-menu-item>Item 1</ui-menu-item>
            <ui-menu-item>Item 2</ui-menu-item>
            <ui-menu-item :disable="true">
              Tooltip
              <template slot="tooltip">Item is disabled</template>
            </ui-menu-item>
          </ui-menu-group>
        </template>
      </ui-list-item>
      <ui-list-item>Уссурийск</ui-list-item>
      <ui-list-item>Ростов</ui-list-item>
      <ui-list-item>Бабка</ui-list-item>
      <ui-list-item>Москва</ui-list-item>
    </ui-list>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { UiList, UiListItem } from '@/lib-components'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiMenuGroup from '@/lib-components/menu/UiMenuGroup.vue'
import UiMenuItem from '@/lib-components/menu/UiMenuItem.vue'

@Component({
  components: { UiMenuItem, UiMenuGroup, UiList, UiListItem },
})
export default class ListExample extends ExampleWrap {
  title = 'Слоты'
}
</script>
