<template>
  <div>
    <ui-list
      :title="title"
      style="width: 500px"
      dense
    >
      <ui-list-item v-for="city in cities" :key="city.name" :to="city.to">
        {{ city.name }}

        <template #menu>
          <ui-menu-group>
            <ui-menu-item> Горький </ui-menu-item>
            <ui-menu-item> Куйбышев </ui-menu-item>
          </ui-menu-group>
        </template>
      </ui-list-item>
    </ui-list>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { UiListItem } from '@/lib-components'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiSortableList from '@/lib-components/UiSortableList.vue'
import UiMenuGroup from "@/lib-components/menu/UiMenuGroup.vue";
import UiMenuItem from "@/lib-components/menu/UiMenuItem.vue";

@Component({
  components: {UiMenuItem, UiMenuGroup, UiSortableList, UiListItem },
})
export default class ListExample extends ExampleWrap {
  title = 'Menu & to'
  cities = [
    {name: 'Москва', to: 'non-existent-path'},
    {name: 'Владивосток', to: 'non-existent-path'},
    {name: 'Уссурийск', to: 'non-existent-path'},
    {name: 'Ростов', to: 'non-existent-path'},
    {name: 'Караганда', to: 'non-existent-path'},
  ]
}
</script>
