<template>
  <div>
    <div class="q-gutter-x-sm">
      <q-checkbox v-model="isDense" label="Сжатый список" />
    </div>
    <div class="q-mt-md row q-col-gutter-md">
      <div class="col">
        <ui-list title="Сжатый" :dense="isDense">
          <ui-list-item>Москва</ui-list-item>
          <ui-list-item>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
          <ui-list-item>Ростов</ui-list-item>
        </ui-list>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { UiList, UiListItem } from '@/lib-components'
import ExampleWrap from 'components/ExampleWrap.vue'

@Component({
  components: { UiList, UiListItem },
})
export default class ListExample extends ExampleWrap {
  title = 'Размер'
  isDense = true
}
</script>
