<template>
  <div>
    <div class="row ui-gap-sm">
      <q-checkbox v-model="striped" label="В полоску" />
      <q-checkbox v-model="darkHeader" label="Темный заголовок" />
      <q-checkbox v-model="dense" label="Сжатый" />
      <q-checkbox v-model="titleSlot" label="Слот в заголовке" />
      <q-checkbox v-model="menuSlot" label="Меню" />
      <q-checkbox v-model="withTitle" label="С заголовком" />
    </div>
    <div class="row ui-gap-sm q-mt-md">
      <q-btn-toggle v-model="listLength" :options="listLengthOptions" />
    </div>
    <div class="row ui-gap-sm q-mt-md no-wrap items-center">
      <q-slider
        :min="0"
        :max="3"
        v-model="prependedCount"
        class="q-mx-md"
        style="width: 100px"
        label
      />
      {{ prependedCount }} неподвижных позиций сверху

      <q-slider
        :min="0"
        :max="3"
        v-model="appendedCount"
        class="q-mx-md"
        style="width: 100px"
        label
      />
      {{ appendedCount }} неподвижных позиций снизу
    </div>
    <div class="q-mt-md row">
      <div
        class="column col-grow overflow-auto"
        style="height: 500px; flex-basis: 0"
      >
        <ui-list
          :title="withTitle ? 'Города России' : undefined"
          :striped="striped"
          :dark-header="darkHeader"
          :dense="dense"
        >
          <template v-if="titleSlot" #afterTitle>
            <q-item-section side>
              <q-btn
                unelevated
                round
                color="primary"
                icon="la la-cross"
                dense
              />
            </q-item-section>
          </template>

          <ui-list-item
            v-for="city in cities"
            :key="city"
            :active="city === 'Воронеж'"
          >
            {{ city }}
            <template v-if="menuSlot" #menu>
              <ui-list-item>Посетить</ui-list-item>
              <ui-list-item>Разбомбить</ui-list-item>
            </template>
          </ui-list-item>
        </ui-list>
      </div>

      <div
        class="column col-grow overflow-auto"
        style="height: 500px; flex-basis: 0"
      >
        <ui-sortable-list
          :title="withTitle ? 'Города России с сортировкой' : undefined"
          :striped="striped"
          :dark-header="darkHeader"
          :dense="dense"
        >
          <template #prepend>
            <ui-list-item
              v-for="city in prepended"
              :key="city"
              :active="active(city)"
            >
              {{ city }}
              <template v-if="menuSlot" #menu>
                <ui-list-item>Посетить</ui-list-item>
                <ui-list-item>Разбомбить</ui-list-item>
              </template>
            </ui-list-item>
          </template>

          <ui-list-item
            v-for="city in sortable"
            :key="city"
            sortable
            :active="active(city)"
          >
            {{ city }}
            <template v-if="menuSlot" #menu>
              <ui-list-item>Посетить</ui-list-item>
              <ui-list-item>Разбомбить</ui-list-item>
            </template>
          </ui-list-item>

          <template #append>
            <ui-list-item
              v-for="city in appended"
              :key="city"
              :active="active(city)"
            >
              {{ city }}
              <template v-if="menuSlot" #menu>
                <ui-list-item>Посетить</ui-list-item>
                <ui-list-item>Разбомбить</ui-list-item>
              </template>
            </ui-list-item>
          </template>
        </ui-sortable-list>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { UiList, UiListItem } from '@/lib-components'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiSortableList from '@/lib-components/UiSortableList.vue'

@Component({ components: { UiSortableList, UiList, UiListItem } })
export default class ListExample extends ExampleWrap {
  title = 'Стили'
  striped = true
  darkHeader = false
  dense = false
  titleSlot = false
  menuSlot = false
  withTitle = true

  prependedCount = 0
  appendedCount = 0

  listLength = 'short'
  listLengthOptions = [
    { label: 'Короткий список', value: 'short' },
    { label: 'Длинный список', value: 'long' },
  ]

  get cities() {
    return [
      'Москва',
      'Владивосток',
      'Уссурийск',
      'Ростов',
      'Воронеж',
      'Омск',
      'Нижний Новгород',
      'Архангельск',
      'Петропавловск-Камчатский',
      'Симферополь',
      'Калининград',
      'Псков',
      'Ярославль',
      'Новосибирск',
      'Самара',
      'Казань',
    ].slice(0, this.listLength === 'short' ? 6 : undefined)
  }

  get prepended() {
    return this.cities.slice(0, this.prependedCount)
  }

  get appended() {
    const { cities } = this
    return cities.slice(cities.length - this.appendedCount)
  }

  get sortable() {
    const { cities } = this
    return cities.slice(this.prependedCount, cities.length - this.appendedCount)
  }

  active(city: string) {
    return city === 'Воронеж'
  }
}
</script>
