<template>
  <div>
    <div class="q-mt-md row q-col-gutter-md">
      <div class="col">
        <ui-list title="Обычный список">
          <ui-list-item>
            Тест меню
          </ui-list-item>
          <ui-list-item>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
        </ui-list>
      </div>
      <div class="col">
        <ui-list title="Кликабельный список" clickable-items>
          <ui-list-item>Москва</ui-list-item>
          <ui-list-item active>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
        </ui-list>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiList, UiListItem } from '@/lib-components'
import UiMenuItem from '@/lib-components/menu/UiMenuItem.vue'

@Component({
  components: { UiMenuItem, UiList, UiListItem },
})
export default class ListExample extends ExampleWrap {
  title = 'Поведение'
}
</script>
