<template>
  <div>
    <ui-sortable-list
      title="Sortable"
      style="width: 500px"
      v-model="cities"
      sortable-items
      dense
    >
      <template #prepend>
        <ui-list-item> Ленинград </ui-list-item>
      </template>

      <ui-list-item v-for="city in cities" :key="city" sortable>
        {{ city }}
      </ui-list-item>

      <template #append>
        <ui-list-item> Горький </ui-list-item>
        <ui-list-item> Куйбышев </ui-list-item>
      </template>
    </ui-sortable-list>
    <div class="q-mt-md">{{ cities }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { UiListItem } from '@/lib-components'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiSortableList from '@/lib-components/UiSortableList.vue'

@Component({
  components: { UiSortableList, UiListItem },
})
export default class ListExample extends ExampleWrap {
  title = 'Сортировка перетаскиванием'
  cities = ['Москва', 'Владивосток', 'Уссурийск', 'Ростов', 'Караганда']
}
</script>
