<template>
  <div>
    <div class="q-mt-md row q-col-gutter-md">
      <div class="col">
        <ui-list title="Bordered" bordered>
          <ui-list-item>Москва</ui-list-item>
          <ui-list-item>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
        </ui-list>
      </div>
      <div class="col">
        <ui-list title="Separator" separator>
          <ui-list-item>Москва</ui-list-item>
          <ui-list-item>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
        </ui-list>
      </div>
      <div class="col">
        <ui-list title="Separator top" separator-top>
          <ui-list-item>Москва</ui-list-item>
          <ui-list-item>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
        </ui-list>
      </div>
      <div class="col">
        <ui-list title="Separator bottom" separator-bottom>
          <ui-list-item>Москва</ui-list-item>
          <ui-list-item>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
        </ui-list>
      </div>
      <div class="col">
        <ui-list title="Separator after header" separator-after-header>
          <ui-list-item>Москва</ui-list-item>
          <ui-list-item>Владивосток</ui-list-item>
          <ui-list-item>Уссурийск</ui-list-item>
        </ui-list>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import { UiList, UiListItem } from '@/lib-components'
import ExampleWrap from 'components/ExampleWrap.vue'

@Component({
  components: { UiList, UiListItem },
})
export default class ListExample2 extends ExampleWrap {
  title = 'Границы'
}
</script>
