<template>
  <q-page class="base-page q-pa-md">
    <div class="text-h1 q-mb-lg">{{ title }}</div>
    <slot />
  </q-page>
</template>

<style lang="scss">
.base-page {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class BasePage extends Vue {
  @Prop(String) title: string
}
</script>
