<template>
  <div class="component-example q-mb-lg">
    <q-toolbar class="component-example__toolbar">
      <div class="text-grey-6">{{ description }}</div>
      <q-space />
      <q-btn @click="toggleSource" dense round icon="la la-code" flat />
    </q-toolbar>
    <q-separator />
    <q-slide-transition>
      <component-source
        v-show="isShowSource"
        :template-string="templateString"
        :script-string="scriptString"
        :style-string="styleString"
      />
    </q-slide-transition>
    <div class="q-my-lg q-mx-md">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss">
@import 'ui/css/variables';

.component-example {
  border: 1px solid $grey-3;
  border-radius: 4px;
}

.component-example__toolbar {
  border-bottom: $grey-3;
  position: relative;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import ComponentSource from 'components/ComponentSource.vue'

@Component({
  components: { ComponentSource },
})
export default class ComponentExample extends Vue {
  @Prop(String) componentString: string

  description = ''
  templateString = ''
  scriptString = ''
  styleString = ''

  isShowSource = false

  created() {
    const componentString = String(this.componentString)
    const dom = document.createElement('div')

    dom.innerHTML = componentString

    const script = dom.querySelector('script') as Element
    const style = dom.querySelector('style')

    const template = componentString.split('<script')[0]

    this.scriptString = script.innerHTML
    this.styleString = style ? style.innerHTML : ''

    this.templateString = template
  }

  toggleSource() {
    this.isShowSource = !this.isShowSource
  }
}
</script>
