<template>
  <div>
    <q-tabs
      v-model="tab"
      dense
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      align="justify"
    >
      <q-tab v-for="tab in filteredTabs" :key="tab" :name="tab" :label="tab" />
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="Template" class="q-pa-none q-pb-md">
        <prism :code="templateString" />
      </q-tab-panel>
      <q-tab-panel name="Script" class="q-pa-none q-pb-md">
        <prism :code="scriptString" is-js />
      </q-tab-panel>
      <q-tab-panel v-if="!!styleString" name="Style" class="q-pa-none q-pb-md">
        <prism :code="styleString" />
      </q-tab-panel>
    </q-tab-panels>
    <q-separator />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import Prism from 'components/Prism.vue'

const tabs = ['Template', 'Script', 'Style']

@Component({
  components: { Prism },
})
export default class ComponentSource extends Vue {
  @Prop(String) templateString: string
  @Prop(String) scriptString: string
  @Prop(String) styleString: string

  tab: string = 'Template'
  tabs = tabs

  get filteredTabs() {
    if (this.styleString) {
      return this.tabs
    }

    return ['Template', 'Script']
  }
}
</script>
