<template>
  <pre :class="className" style="max-height: 400px">
    <code v-html="highlightedHtml" :class="className"/>
  </pre>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import Prismjs from 'prismjs'

@Component
export default class Prism extends Vue {
  @Prop(String) code: string
  @Prop(Boolean) isJs: boolean

  get highlightedHtml(): string {
    const lang = this.isJs ? 'javascript' : 'html'

    return Prismjs.highlight(this.code, Prismjs.languages[lang], lang)
  }

  get className(): string {
    return this.isJs ? 'language-javascript' : 'language-html'
  }
}
</script>
