<template>
  <div>
    <ui-csv-import-info
      @close="close"
      file-name="Имя файла.csv"
      :created-at="createdAtTimestamp"
      :rows-count="1000"
      :error-rows-count="100"
      :processed-time="3"
      manager-full-name="Крылов Константин"
    />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiCsvImportInfo from '@/lib-components/csv/UiCsvImportInfo.vue'

@Component({
  components: { UiCsvImportInfo },
})
export default class CsvSelectFileExample extends ExampleWrap {
  get createdAtTimestamp() {
    return new Date().getTime()
  }

  close() {
    alert('emit close')
  }
}
</script>
