<template>
  <div class="ui-notification-list q-pa-sm">
    <ui-notification-item
      v-for="notification in notifications"
      :key="notification.id"
      :notification="notification"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { NotificationEvent } from '@/widgets/notifications/types/NotificationEvent'
import UiNotificationItem from '@/widgets/notifications/components/notifications-list/item/UiNotificationItem.vue'

@Component({
  components: { UiNotificationItem },
  inheritAttrs: false,
})
export default class UiNotificationList extends Vue {
  @Prop(Array) notifications!: NotificationEvent[]
}
</script>
