<template>
  <div class="q-mt-md">
    <ui-btn-add />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBtnAdd from '@/lib-components/buttons/UiBtnAdd.vue'

@Component({
  components: { UiBtnAdd },
})
export default class Example extends ExampleWrap {}
</script>
