<template>
  <div class="q-gutter-y-sm">
    <ui-autocomplete
      @filter="filterCountries"
      v-model="country"
      :options="countryOptions"
      :option-label="option => option.name"
      :option-value="option => option"
      label="Country"
      name="country"
    />
    <div>country: {{ country }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiAutocomplete } from '@/lib-components'

const countries = [
  { id: 1, name: 'Россия' },
  { id: 2, name: 'Китай' },
  { id: 3, name: 'Бабка' },
]

@Component({
  components: { UiAutocomplete },
  inheritAttrs: false,
})
export default class AutocompleteExample extends ExampleWrap {
  country = null

  countryOptions = countries

  filterCountries(val: string, update: Function, abort: Function) {
    if (val && val.length < 2) {
      abort()
    }
    update(() => {
      const needle = val.toLowerCase()
      this.countryOptions = countries.filter(
        с => с.name.toLowerCase().indexOf(needle) > -1
      )
    })
  }
}
</script>
