<template>
  <div class="q-gutter-y-sm">
    <ui-autocomplete
      @filter="filterNetworks"
      v-model="network"
      :options="networkOptions"
      label="Label"
      name="network"
    />
    <div>value: {{ network }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiAutocomplete } from '@/lib-components'

const networks = ['Google', 'Facebook', 'Twitter', 'Apple', 'Oracle']

@Component({
  components: { UiAutocomplete },
  inheritAttrs: false,
})
export default class AutocompleteExample extends ExampleWrap {
  network = null

  networkOptions = networks

  filterNetworks(val: string, update: Function, abort: Function) {
    if (val && val.length < 2) {
      abort()
    }
    update(() => {
      const needle = val.toLowerCase()
      this.networkOptions = networks.filter(
        v => v.toLowerCase().indexOf(needle) > -1
      )
    })
  }
}
</script>
