<template>
  <ui-page>
    <ui-page-header title="123" />
    <ui-list title="Список" striped dense dark-header>
      <ui-list-item>Item 1</ui-list-item>
      <ui-list-item>Item 2</ui-list-item>
      <ui-list-item>Item 3</ui-list-item>
    </ui-list>
  </ui-page>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiPage from '@/lib-components/UiPage.vue'
import UiPageHeader from '@/lib-components/UiPageHeader.vue'
import UiList from '@/lib-components/UiList.vue'
import UiListItem from '@/lib-components/UiListItem.vue'

@Component({
  components: { UiListItem, UiList, UiPageHeader, UiPage },
})
export default class PageExample extends ExampleWrap {
  title = 'Без колонок'
}
</script>
