<template>
  <ui-page two-col>
    <template slot="before">
      <ui-page-header title="Qwert" />
      <ui-list title="Список" striped dense dark-header>
        <ui-list-item>Item 1</ui-list-item>
        <ui-list-item>Item 2</ui-list-item>
        <ui-list-item>Item 3</ui-list-item>
      </ui-list>
    </template>
    <template slot="after">
      <ui-page two-col>
        <template slot="before">
          <ui-page-header title="Qwert" />
          <div class="q-pa-lg">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
            consequuntur cupiditate exercitationem iure laborum nemo voluptatum?
            Asperiores autem consequuntur eum hic iusto maiores, obcaecati odit
            quam, ratione unde, veritatis voluptate.
          </div>
        </template>
        <template slot="after">
          <ui-page-header title="Asdf" />
          <ui-list title="Список" striped dense dark-header>
            <ui-list-item>Item 1</ui-list-item>
            <ui-list-item>Item 2</ui-list-item>
            <ui-list-item>Item 3</ui-list-item>
          </ui-list>
        </template>
      </ui-page>
    </template>
  </ui-page>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiPage from '@/lib-components/UiPage.vue'
import UiPageHeader from '@/lib-components/UiPageHeader.vue'
import UiList from '@/lib-components/UiList.vue'
import UiListItem from '@/lib-components/UiListItem.vue'

@Component({
  components: { UiListItem, UiList, UiPageHeader, UiPage },
})
export default class PageExample extends ExampleWrap {
  title = 'С 2 колонками + вложенные страницы'
}
</script>
