<template>
  <ui-input
    v-on="$listeners"
    v-bind="$attrs"
    :label="label"
    autofocus
    class="q-mb-md"
  />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import UiInput from '../../form/UiInput.vue'

@Component({
  components: { UiInput },
  inheritAttrs: false,
})
export default class ListCardTitleInput extends Vue {
  @Prop({ type: String, required: true })
  label!: string
}
</script>
