<template>
  <div>
    <div class="q-gutter-x-md q-pb-md">
      <q-checkbox v-model="fullWidth" label="Полная ширина" />
      <q-checkbox v-model="pixelLimit" label="Ограничить в 200px" />
      <q-checkbox v-model="reverse" label="Reverse" />
    </div>
    <ui-page-splitter
      id="main-splitter"
      :full="fullWidth"
      :is-pixel-unit="pixelLimit"
      :reverse="reverse"
      :limits="pixelLimit ? [200, 10000] : [0, 100]"
      :default-value="25"
      style="border: 1px solid #ddd"
    >
      <template v-slot:before>
        <div>before</div>
      </template>
      <template v-slot:after>
        <div>after</div>
      </template>
    </ui-page-splitter>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiPageSplitter } from '@/lib-components'

@Component({
  components: { UiPageSplitter },
})
export default class SplitterExample extends ExampleWrap {
  fullWidth = false
  pixelLimit = false
  reverse = false
}
</script>
