<template>
  <ui-toolbar
    class="q-mt-md"
    title="Project Name"
    projectsUrl="/"
    :links="links"
  >
    <template slot="left">Левый слот</template>
    <template slot="right">
      <q-input
        class="inline"
        color="white"
        bg-color="transparent"
        dark
        dense
        placeholder="Правый слот"
        v-model="search"
      >
        <template #prepend>
          <q-icon name="la la-search" />
        </template>
      </q-input>
      <ui-btn flat dense>
        <q-icon name="la la-cog" size="md" color="blue-grey" />
      </ui-btn>
    </template>
  </ui-toolbar>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiToolbar } from '@/lib-components'
import ToolbarLink from '@/types/ToolbarLink'
import UiInput from '@/lib-components/form/UiInput.vue'
import UiBtn from '@/lib-components/buttons/UiBtn.vue'

@Component({
  components: { UiBtn, UiToolbar },
})
export default class ToolbarExample extends ExampleWrap {
  search = ''
  links: ToolbarLink[] = [
    { route: '/', label: 'Link1' },
    { route: '/', label: 'Link2' },
  ]
}
</script>
