<template>
  <div class="q-mt-md">
    <ui-btn @click="showLoading" label="Показать загрузку" />
    <ui-page-loading :showing="isShow" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtn, UiPageLoading } from '@/lib-components'

@Component({
  components: { UiBtn, UiPageLoading },
})
export default class PageLoadingExample extends ExampleWrap {
  isShow = false

  showLoading() {
    this.isShow = true

    setTimeout(() => {
      this.isShow = false
    }, 1000)
  }
}
</script>
