<template>
  <ui-page>
    <ui-tabs v-model="tab">
      <ui-tab name="1">Label 1</ui-tab>
      <ui-tab name="2">Label 1</ui-tab>
      <ui-tab name="3">Label 1</ui-tab>
    </ui-tabs>
    <ui-tab-panels v-model="tab">
      <ui-tab-panel name="1">
        panel 1
      </ui-tab-panel>
      <ui-tab-panel name="2">
        panel 2
      </ui-tab-panel>
      <ui-tab-panel name="3">
        panel 3
      </ui-tab-panel>
    </ui-tab-panels>
  </ui-page>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiTabs from '@/lib-components/tabs/UiTabs.vue'
import UiTab from '@/lib-components/tabs/UiTab.vue'
import UiTabPanels from '@/lib-components/tabs/UiTabPanels.vue'
import UiTabPanel from '@/lib-components/tabs/UiTabPanel.vue'
import UiPage from '@/lib-components/UiPage.vue'

@Component({
  components: { UiPage, UiTabPanel, UiTabPanels, UiTab, UiTabs },
})
export default class TabPanelsExample extends ExampleWrap {
  tab = '1'
}
</script>
