<template>
  <div class="q-pa-lg bg-background">
    <ui-loading-panel
      @cancel="cancel"
      :progress="progress"
      title="Заголовок"
      :progress-text="`${count} из 100`"
      description="Описание"
    />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiLoadingPanel } from '@/lib-components'

@Component({
  components: { UiLoadingPanel },
})
export default class LoadingPanelExample extends ExampleWrap {
  progress = 0
  count = 0

  created() {
    setInterval(() => {
      this.count = (this.count + 1) % 100
      this.progress = this.count / 100
    }, 200)
  }

  cancel() {
    // todo cancel
  }
}
</script>
