<template>
  <div class="q-pa-lg bg-background">
    <ui-loading-panel
      @cancel="cancel"
      :progress="progress"
      cancelable
      title="Заголовок"
      description="description"
    />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiLoadingPanel } from '@/lib-components'

@Component({
  components: { UiLoadingPanel },
})
export default class LoadingPanelExample extends ExampleWrap {
  title = 'Отменяемая загрузка'

  progress = 0

  created() {
    const interval = setInterval(() => {
      if (this.progress >= 100) {
        clearInterval(interval)

        return
      }
      this.progress++
    }, 200)
  }

  cancel() {
    // todo cancel
  }
}
</script>
