<template>
  <ui-btn-icon
    v-on="$listeners"
    v-bind="$attrs"
    :icon="icon"
    class="thread-header-btn"
    padding="none"
    :color="color"
    :flat="false"
  >
    <slot></slot>
  </ui-btn-icon>
</template>

<style scoped lang="sass">
.thread-header-btn
  width: 28px
  height: 28px

::v-deep .q-icon
  font-size: 18px !important
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import UiBtnIcon from '@/lib-components/buttons/UiBtnIcon.vue'

@Component({
  inheritAttrs: false,
  components: { UiBtnIcon },
})
export default class ThreadHeaderBtn extends Vue {
  @Prop(String)
  icon!: string

  @Prop(String)
  color!: string
}
</script>
