<template>
  <div class="q-py-md q-gutter-y-md">
    <UiFormControls @save="message = 'saved'" @cancel="message = 'canceled'" />

    <UiFormControls
      @save="message = 'saved'"
      @cancel="message = 'canceled'"
      description="Какое-то описание"
    />

    <UiFormControls @save="message = 'saved'" @cancel="message = 'canceled'">
      <UiBtn outline label="Кнопка" />
    </UiFormControls>

    <UiFormControls hide-buttons>
      <UiBtn outline label="Кнопка" />
    </UiFormControls>

    <UiFormControls
      @save="message = 'saved'"
      @cancel="message = 'canceled'"
      hide-buttons
      description="Какое-то описание"
    >
      <UiBtn outline label="Кнопка" />
    </UiFormControls>

    <div class="q-mt-lg" v-show="!!message">{{ message }}</div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtn, UiFormControls } from '@/lib-components'

@Component({
  components: { UiBtn, UiFormControls },
})
export default class FormControlsExample extends ExampleWrap {
  message = ''
}
</script>
