<template>
  <div class="q-mt-md q-gutter-x-sm">
    <ui-btn-icon icon="la la-close" />
    <ui-btn-icon icon="la la-close" :flat="false" color="primary" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiBtnIcon from '@/lib-components/buttons/UiBtnIcon.vue'

@Component({
  components: { UiBtnIcon },
})
export default class BtnIconExample extends ExampleWrap {}
</script>
