<template>
  <ui-btn-icon
    v-on="$listeners"
    v-bind="$attrs"
    icon="la la-plus"
    color="primary"
    :flat="false"
  >
    <slot />
  </ui-btn-icon>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiBtnIcon from './UiBtnIcon.vue'

@Component({ inheritAttrs: false, components: { UiBtnIcon } })
export default class UiBtnAdd extends Vue {}
</script>
