<template>
  <ui-btn v-on="$listeners" v-bind="$attrs" label="Сохранить" />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiBtn from '@/lib-components/buttons/UiBtn.vue'

@Component({ inheritAttrs: false, components: { UiBtn } })
export default class UiBtnSave extends Vue {}
</script>
