<template>
  <ui-btn-icon v-on="$listeners" v-bind="$attrs" icon="la la-close">
    <slot></slot>
  </ui-btn-icon>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiBtnIcon from './UiBtnIcon.vue'

@Component({ inheritAttrs: false, components: { UiBtnIcon } })
export default class UiBtnClose extends Vue {}
</script>
