<template>
  <q-btn
    v-on="$listeners"
    v-bind="$attrs"
    :icon="icon"
    :color="color"
    :flat="flat"
    unelevated
    round
  >
    <slot />
  </q-btn>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QBtn, QIcon } from 'quasar'

@Component({ inheritAttrs: false, components: { QBtn, QIcon } })
export default class UiBtnCancel extends Vue {
  @Prop(String) icon!: string
  @Prop({ type: String, default: 'default' }) color!: string
  @Prop({ type: Boolean, default: true }) flat!: boolean
}
</script>
