<template>
  <ui-btn-icon
    v-on="$listeners"
    v-bind="$attrs"
    :color="color"
    :text-color="textColor"
    icon="la la-ellipsis-v"
    class="ui-btn-menu"
    :flat="false"
  >
    <slot />
  </ui-btn-icon>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import UiBtnIcon from './UiBtnIcon.vue'

@Component({ inheritAttrs: false, components: { UiBtnIcon } })
export default class UiBtnMenu extends Vue {
  @Prop({ default: 'background' }) color!: unknown
  @Prop({ default: 'dark' }) textColor!: unknown
}
</script>
