<template>
  <q-btn
    v-on="$listeners"
    v-bind="$attrs"
    no-caps
    outline
    color="blue-grey"
    :label="label"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-btn>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QBtn } from 'quasar'

@Component({ inheritAttrs: false, components: { QBtn } })
export default class UiBtnCancel extends Vue {
  @Prop({ type: String, default: 'Отменить' })
  label!: string
}
</script>
