@import "~quasar/src/css/variables";

.ui-place-select-option {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.ui-place-select-option_active {
  background-color: $background;

  .ui-place-select-option__type {
    color: white;
  }

  .ui-place-select-option__label {
    color: white;
  }

  .ui-place-select-option__description {
    color: $blue-grey;
  }
}

.ui-place-select-option__type {
  flex-shrink: 0;
  color: $positive;
  width: 40px;
  align-items: flex-end !important;
  font-weight: bold;
  white-space: nowrap;
}

.ui-place-select-option__type_city {
  color: $primary
}

.ui-place-select-option__description {
  color: $blue-grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.query-entry {
  font-weight: bold !important;
  display: inline-block;
}

.query-entry::first-letter {
  text-transform: uppercase;
}
