<template>
  <div class="widget-bar q-px-sm q-py-md ui-gap-y-sm">
    <slot></slot>
  </div>
</template>

<style scoped lang="sass">
.widget-bar
  display: flex
  flex-direction: column
  background-color: #fff
  border-right: 1px solid $blue-grey-2
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class WidgetBar extends Vue {}
</script>
