<template>
  <q-separator class="q-my-xs" />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QSeparator } from 'quasar'

@Component({ inheritAttrs: false, components: { QSeparator } })
export default class WidgetBarSeparator extends Vue {}
</script>
