<template>
  <q-btn
    v-on="$listeners"
    v-bind="$attrs"
    color="blue-grey"
    flat
    label="Не требует ответа"
    rounded
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { QBtn } from 'quasar'

@Component({ inheritAttrs: false, components: { QBtn } })
export default class CloseThreadBtn extends Vue {}
</script>
