<template>
  <ui-btn v-on="$listeners" icon="la la-edit" label="Ответить" rounded />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiBtn from '@/lib-components/buttons/UiBtn.vue'

@Component({
  inheritAttrs: false,
  components: { UiBtn },
})
export default class ReplyMessageBtn extends Vue {}
</script>
