<template>
  <div class="q-py-md q-px-lg">
    <div class="text-h2 flex items-center ui-gap-x-sm">
      Задачи и заметки заказа
      <ui-badge :label="taskModule.totalCount.toString()" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Inject, Vue } from 'vue-property-decorator'
import { TaskModule } from '@/widgets/tasks/modules/TaskModule'
import UiBadge from '@/lib-components/UiBadge.vue'

@Component({
  components: { UiBadge },
})
export default class OrderHeader extends Vue {
  @Inject('TaskModule')
  taskModule!: TaskModule
}
</script>
