<template>
  <div class="q-gutter-y-sm">
    <ui-datalist>
      <ui-datalist-row label="Лейбл" value="Значение" />
      <ui-datalist-row label="Лейбл" value="Значение" />
      <ui-datalist-row label="Лейбл" value="Значение" />
    </ui-datalist>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiDatalist from '@/lib-components/UiDatalist.vue'
import UiDatalistRow from '@/lib-components/UiDatalistRow.vue'

@Component({
  components: { UiDatalistRow, UiDatalist },
})
export default class DialogExample extends ExampleWrap {}
</script>
