<template>
  <q-layout view="hHh LpR fFf">
    <q-header elevated class="bg-primary text-white">
      <ui-toolbar title="s25vue-ui" :links="links" />
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-drawer :value="isShowDrawer" side="left" bordered>
      <q-list padding class="text-body1">
        <q-item>
          <q-item-section>
            <q-item-label overline class="text-blue-grey">
              {{ listTitle }}
            </q-item-label>
          </q-item-section>
        </q-item>

        <template v-for="item in listItems">
          <q-expansion-item
            v-if="item.children"
            :value="isActiveItem(item)"
            :key="item.title"
            :label="item.title"
            expand-separator
          >
            <q-list padding>
              <q-item
                v-for="item in item.children"
                :to="item.path"
                :key="item.title"
                dense
                class="q-pl-lg"
              >
                <q-item-section>
                  <q-item-label>{{ item.title }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-expansion-item>
          <q-item v-else :to="item.path" :key="item.title">
            <q-item-section>
              <q-item-label>{{ item.title }}</q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-drawer>
  </q-layout>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { components } from 'src/router/components'
import { services } from 'src/router/services'
import ToolbarLink from '@/types/ToolbarLink'
import UiToolbar from '@/lib-components/UiToolbar.vue'
import { PageInfo } from 'src/router/PageInfo'
import { Location } from 'vue-router'

@Component({
  components: { UiToolbar },
})
export default class MainLayout extends Vue {
  @Prop(String) groupName?: string

  links: ToolbarLink[] = [
    { label: 'Install', route: { name: 'install' } },
    { label: 'Components', route: { name: 'components' } },
    { label: 'Widgets', route: { name: 'widgets' } },
    { label: 'Services', route: { name: 'services' } },
    { label: 'Store usage', route: { name: 'store' } },
  ]

  get isShowDrawer(): boolean {
    return ['components', 'services'].some(routeName =>
      this.$route.path.includes(routeName)
    )
  }

  get listTitle() {
    const currentLink = this.links.find(link =>
      this.$route.path.includes((link.route as Location).name as string)
    )

    return currentLink?.label || ''
  }

  get listItems(): PageInfo[] {
    const routeNames = ['components', 'services']

    const currentRouteName = routeNames.find(routeName =>
      this.$route.path.includes(routeName)
    ) as 'components' | 'services' | undefined

    if (currentRouteName) {
      const items = {
        components: this.getSortedListItems(components),
        services: this.getSortedListItems(services),
      }

      return items[currentRouteName]
    }

    return []
  }

  getSortedListItems(items: PageInfo[]): PageInfo[] {
    return [...items].sort((a, b) => a.title.localeCompare(b.title))
  }

  isActiveItem(item: PageInfo) {
    return this.groupName === item.group
  }
}
</script>
