<template>
  <div class="q-gutter-y-sm">
    <ui-dialog v-model="isShowDialog" title="Заголовок">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
        asperiores aspernatur, corporis nam numquam quas quidem quis voluptate.
        Asperiores assumenda beatae dignissimos hic nihil odit pariatur quia
        quidem quod reprehenderit.
      </div>
      <template slot="actions">
        <ui-btn label="Submit" />
        <ui-btn-cancel v-close-popup />
      </template>
    </ui-dialog>

    <ui-btn @click="isShowDialog = !isShowDialog" label="Показать диалог" />
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiBtn, UiBtnCancel, UiDialog } from '@/lib-components'

@Component({
  components: { UiBtnCancel, UiBtn, UiDialog },
})
export default class DialogExample extends ExampleWrap {
  isShowDialog = false
}
</script>
