@import "variables";

.text-small {
  font-size: 12px;
}

.bg-background {
  background-color: $background;
}

.text-background {
  color: $background;
}

.bg-background-light {
  background-color: $background-light;
}

.text-background-light {
  color: $background-light;
}

.text-overline {
  text-transform: uppercase;
}

.q-btn {
  text-transform: none;
}

.q-btn .q-icon, .q-btn .q-spinner, .q-field__append .q-icon {
  font-size: 24px;
}

.q-table tbody td {
  font-size: inherit;
}

.q-table thead th {
  color: $blue-grey;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.q-table:not(.ui-no-indent) td:not(:last-of-type):not(.ui-no-indent) {
  padding-right: 50px;
}

.q-textarea .q-field__native, .q-textarea .q-field__prefix, .q-textarea .q-field__suffix {
  line-height: 1.5;
}

.q-menu .q-item {
  font-size: 14px;
}

.q-tab__label {
  font-weight: bold;
}

.q-select__dropdown-icon {
  font-size: 16px !important;
  color: $dark;
}

.q-notification {
  border-radius: 8px;
}


