$primary: #006DEB;
$secondary: #12A9EA;
$accent: #FF7033;

$positive: #27CE51;
$negative: #D11717;
$info: #87BFFF;
$warning: #EDBC35;
$background: #F3F4F8;
$background-light: #F9F9FB;

$dark: #071D36;
$black: #071D36;
$blue-grey-10: #071D36;
$shadow-1: 0px 4px 6px rgba(7, 29, 54, 0.2);
$shadow-2: 0px 6px 18px rgba(3, 24, 48, 0.15);

$button-border-radius: 4px;
$button-font-size: 14px;
$button-font-weight: normal;

$body-font-size: 16px;
$body-line-height: 1.5;
$typography-font-family: 'Google Sans', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$table-hover-background: rgba(224, 226, 227, .3);
$table-selected-background: rgba(224, 226, 227, .3);
$separator-color: #D1D8DC;
$input-text-color: $dark;
$input-label-color: #667C8A;
$input-font-size: 16px;

$h1: (size: 30px, line-height: 38px, letter-spacing: normal, weight: normal) !default;
$h2: (size: 24px, line-height: 32px, letter-spacing: normal, weight: normal) !default;
$h3: (size: 20px, line-height: 32px, letter-spacing: normal, weight: normal) !default;
$h4: (size: 18px, line-height: 22px, letter-spacing: normal, weight: bold) !default;
$h5: (size: 16px, line-height: 22px, letter-spacing: normal, weight: bold) !default;
$h6: (size: 1.25rem, line-height: 2rem, letter-spacing: normal, weight: 500) !default;

$subtitle1: (size: 1rem, line-height: 1.75rem, letter-spacing: .00937em, weight: 400) !default;
$subtitle2: (size: .875rem, line-height: 1.375rem, letter-spacing: .00714em, weight: 500) !default;

$body1: (size: 16px, line-height: 24px, weight: normal) !default;
$body2: (size: 14px, line-height: 20px, weight: normal) !default;
$overline: (size: 12px, line-height: 16px, letter-spacing: .8px, weight: bold) !default;
$caption: (size: 12px, line-height: 20px, letter-spacing: .4px, weight: normal) !default;

@import "~quasar/src/css/variables";
