<template>
  <div>
    <div class="flex q-gutter-x-lg q-mb-xl">
      <ui-toggle
        name="subtitle"
        v-model="subtitle"
        :labels="{ off: 'Без подзаголовка', on: 'С подзаголовком' }"
      />
    </div>

    <ui-page-header
      style="border: 1px solid black"
      title="Мой заголовок очень длинный что не должен влазить в страницу и должен обрезаться"
      :subtitle="subtitle ? 'Немой подзаголовок' : ''"
    >
      <template #afterTitle>
        <q-chip>slot afterTitle</q-chip>
      </template>

      <q-chip>slot default</q-chip>
    </ui-page-header>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import { UiPageHeader } from '@/lib-components'
import UiToggle from '@/lib-components/form/UiToggle.vue'

@Component({
  components: { UiToggle, UiPageHeader },
})
export default class PageHeaderExample extends ExampleWrap {
  subtitle = false
}
</script>
