<template>
  <ui-input-material
    v-on="$listeners"
    v-bind="$attrs"
    label="Заказ"
    style="width: 200px"
    :outlined="false"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiInputMaterial from '@/lib-components/form/UiInputMaterial.vue'

@Component({
  components: { UiInputMaterial },
  inheritAttrs: false,
})
export default class OrderInput extends Vue {}
</script>
