<template>
  <ui-tabs>
    <ui-tab name="1">Label 1</ui-tab>
    <ui-tab name="2">Label 1</ui-tab>
    <ui-tab name="3">Label 1</ui-tab>

    <template #after>
      <ui-btn-menu />
    </template>
  </ui-tabs>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import ExampleWrap from 'components/ExampleWrap.vue'
import UiTabs from '@/lib-components/tabs/UiTabs.vue'
import UiTab from '@/lib-components/tabs/UiTab.vue'
import UiBtnMenu from '@/lib-components/buttons/UiBtnMenu.vue'

@Component({
  components: { UiBtnMenu, UiTab, UiTabs },
})
export default class TabsExample extends ExampleWrap {
  isShow = false
}
</script>
