<template>
  <div class="q-pa-sm">
    <ui-notifications-types-config />
    <ui-notifications-widget-config class="q-mt-md" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UiNotificationsTypesConfig from './UiNotificationsTypesConfig.vue'
import UiNotificationsWidgetConfig from './UiNotificationsWidgetConfig.vue'

@Component({
  components: {
    UiNotificationsWidgetConfig,
    UiNotificationsTypesConfig,
  },
})
export default class UiNotificationsConfig extends Vue {}
</script>
