<template>
  <ui-user-avatar
    v-bind="$attrs"
    v-on="$listeners"
    :user="manager"
    class="thread-manager"
  />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Manager } from '@/types/Manager'
import UiUserAvatar from '@/lib-components/UiUserAvatar.vue'

@Component({
  inheritAttrs: false,
  components: { UiUserAvatar },
})
export default class ManagerAvatarsItem extends Vue {
  @Prop({ type: Object, required: true })
  manager!: Manager
}
</script>
