<template>
  <q-circular-progress
    v-on="$listeners"
    v-bind="$attrs"
    class="text-dark"
    :value="value"
    size="40px"
    show-value
    color="secondary"
  />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QCircularProgress } from 'quasar'

@Component({ inheritAttrs: false, components: { QCircularProgress } })
export default class UiCircularProgress extends Vue {
  @Prop(Number) value?: number
}
</script>
