<template>
  <q-linear-progress
    v-on="$listeners"
    v-bind="$attrs"
    :value="value"
    :color="value === 0 ? 'info' : 'primary'"
    :indeterminate="value === 0"
    stripe
    size="10px"
  />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { QLinearProgress } from 'quasar'

@Component({ inheritAttrs: false, components: { QLinearProgress } })
export default class UiLinearProgress extends Vue {
  @Prop(Number) value?: number
}
</script>
